.btn,
.btn.close,
.submit,
button[type="submit"]:not(.btn-search) {
	font-size: $large-font-size;
	font-weight: 500;
	outline: none;
	display: inline-block;
	vertical-align: top;
	background: transparent;
	border: 1px solid $input-border-color;
	color: $secondary-text-color;
	border-radius: $base-border-radius;
	padding: 20px 8px;
	min-width: 105px;
	width: auto;
	text-align: center;
	transition: background $animation-speed, border-color $animation-speed, color $animation-speed;

	&:hover {
		background: rgba($input-border-color, 0.2);
	}

	@include media('>=tablet') {
		padding: 15px 26px 16px;
		font-size: $font-size-base;
	}

	&.without-border {
		border-color: transparent;
		color: $base-text-color;
		min-width: 0;
		white-space: nowrap;

		&:hover {
			color: $secondary-text-color;
		}
	}

	&.btn-base-font-color {
		color: $base-text-color;
		border-color: $base-text-color;

		&.btn-has-arrow {
			&:after {
				font-size: 10px;
			}
		}
	}

	&.md-withou-border {
		@include media('>=tablet') {
			padding: 0;
			min-width: 0;
			width: auto !important;
			color: $base-text-color;
			font-weight: 500;
			border: none;
		}

		&:hover {
			@include media('>=tablet') {
				background: transparent;
				color: $secondary-text-color;
			}
		}
	}

	&.btn-sm {
		border-radius: 5px;
		padding: 10px 17px;
		min-width: 87px;
		font-size: $secondary-size-base;
	}

	&.btn-red {
		border-color: $light-red;
		background: $light-red;
		color: $white;

		&:hover {
			border-color: darken($light-red, 10%);
			background: darken($light-red, 10%);
		}
	}

	&.btn-green {
		border-color: $green;
		background: $green;
		color: $white;

		&:hover {
			border-color: lighten($green, 4%);
			background: lighten($green, 4%);
			color: $white;
		}

		&:focus {
			color: $white;
		}
	}

	&.btn-gray {
		border-color: $secondary-bg-light-gray;
		background: $secondary-bg-light-gray;
		color: $green;

		&:hover {
			border-color: darken($secondary-bg-light-gray, 4%);
			background: darken($secondary-bg-light-gray, 4%);
			color: $green;
		}

		&:focus {
			color: $green;
		}
	}

	&.btn-green-border {
		border-color: $green;
		color: $green;
		font-weight: 500;

		&:hover {
			border-color: $green;
			background: rgba($green, 0.07);
		}
	}

	&.btn-has-arrow {
		min-width: 166px;

		@include media('<tablet') {
			position: relative;
			text-align: left;
			padding-left: 33px;
			padding-right: 50px;
		}


		&:after {
			content: "\e91e";
			font-family: 'icomoon';
			display: inline-block;
			vertical-align: middle;
			margin: 1px 0 0 22px;
			font-size: 10px;
			transform: scaleX(-1);

			@include media('<tablet') {
				font-size: 16px;
				position: absolute;
				right: 22px;
				top: calc(50% - 7px);
				margin: 0;
			}
		}
	}

	&.has-checkmark {
		&:before {
			content: "\e916";
			font-family: 'icomoon';
			font-size: 7px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 17px 0 -3px;
		}

		&.btn-gray {
			color: $green;

			&:before {
				color: $green;
			}
		}
	}

	&.has-plus {
		&:before {
			content: "\e910";
			font-family: 'icomoon';
			font-size: 13px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 13px 0 -6px;
		}
	}

	&.has-code {
		&:before {
			content: "\e913";
			font-family: 'icomoon';
			font-size: 10px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 9px 0 0;
		}
	}

	&.purple-color {
		min-width: 105px;
		color: $purple;
		padding: 13px 10px;
		font-weight: 500;

		@include media('>=tablet') {
			padding: 13px 16px;
			font-size: $secondary-size-base;
		}
	}

	&.btn-purple {
		border-color: $purple;
		background: $purple;
		color: $white;

		&:hover {
			border-color: lighten($purple, 4%);
			background: lighten($purple, 4%);
			color: $white;
		}
	}
}

.btn-actions-bordered,
.btn-download-bordered {
	@include flex-central-align;
	border: 1px solid $lines-light-gray;
	border-radius: 9px;
	outline: none;
	text-decoration: none;
	width: 43px;
	height: 43px;
	background: transparent;
	color: $secondary-text-color;
	transition: background $animation-speed;

	&:hover {
		@include media('>=tablet') {
			background: $lines-light-gray;
		}
	}

	&:before{
		font-family: 'icomoon';
	}
}

.btn-actions-bordered {
	&:before{
		font-size: 4px;
		content: "\e91f";
	}
}

.btn-download-bordered {
	font-size: 19px;
	&:before{
		content: "\e906";
	}
}

.btn-edit,
.btn-del,
.btn-archive,
.btn-download,
.btn-actions,
.btn-code-small {
	@include flex-central-align;
	border: none;
	outline: none;
	margin: 0 4px;
	text-decoration: none;
	width: 35px;
	height: 35px;
	border-radius: 9px;
	background: $secondary-light-gray;
	color: $secondary-text-color;
	transition: color $animation-speed;

	&:hover {
		color: $base-text-color;
	}

	&:before{
		font-family: 'icomoon';
	}
}

.btn-edit {
	font-size: 12px;
	&:before{
		content: "\e925";
	}
}

.btn-del {
	font-size: 16px;
	&:before{
		content: "\e921";
	}
}

.btn-actions {
	&:before{
		content: "\e91a";

		@include media('>=tablet') {
			content: "\e91f";
			font-size: 4px;
		}
	}
}

.btn-archive {
	font-size: 16px;
	&:before{
		content: "\e90f";
	}
}

.btn-download {
	font-size: 16px;
	&:before{
		content: "\e913";
	}
}

.btn-code-small {
	font-size: 12px;
	&:before{
		content: "\e913";
	}

	@include media('>=tablet') {
		font-size: 10px;
	}
}

.link-has-icon {
	text-decoration: none;
	color: $purple;
	position: relative;

	&:after {
		font-family: 'icomoon';
		content: "\e940";
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 6px;
		font-size: 10px;
	}
}

.btn-back {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 41px;
	height: 41px;
	border: none;
	padding: 0;
	color: $base-text-color;
	font-size: 16px;
	outline: none;
	transition: color $animation-speed;

	&:before {
		content: "\e91e";
		font-family: 'icomoon';
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:hover {
		color: $base-text-color;
	}

	@include media('>=tablet') {
		background: $light-gray;
		font-size: 11px;
		border-radius: 100%;
		color: $text-gray;
	}
}

.notification-btn {
	font-size: $font-size-base;
	color: $white;
	background: #7a6eda;
	border-radius: 21px;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	padding: 6px 7px;
	min-width: 58px;
	outline: none;
	border: none;
	transition: background $animation-speed;

	&:hover {
		background: darken(#7a6eda, 3%);
	}

	&.bordered-btn {
		background: transparent;
		font-weight: normal;
		text-transform: none;
		border: 1px solid #7a6eda;
		min-width: 127px;

		&:hover {
			background: #7a6eda;
		}
	}
}

.show-more {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	outline: none;
	border: 1px solid $secondary-light-gray;
	border-radius: 9px;
	background: transparent;
	padding: 15px 5px;
	color: $secondary-text-color;
	font-size: $medium-font-size;
	font-weight: 500;
	text-align: center;
	transition: background $animation-speed;

	&:hover {
		background: rgba($secondary-light-gray, 0.5);
	}

	@include media('>=tablet') {
		color: $base-text-color;
		font-size: $font-size-base;
		padding: 20px 5px 19px;
		margin: 0 0 64px;
	}
}

.btn-search {
	outline: none;
	display: inline-block;
	vertical-align: top;
	background: transparent;
	padding: 0;
	border: none;
	position: relative;
	font-size: 22px;
	transition: color $animation-speed;

	&:before{
		content: "\e915";
		font-family: 'icomoon';
		display: inline-block;
		vertical-align: middle;
	}

	&:hover {
		color: $base-text-color;
	}

	@include media('>=tablet') {
		font-size: 18px;
	}
}

.btn-remove {
	@include flex-central-align;
	text-decoration: none;	
	color: $secondary-text-color;
	font-size: 7px;
	outline: none;
	background: $secondary-light-gray;
	border: none;
	border-radius: 100%;
	padding: 0;
	width: 20px;
	height: 20px;
	transition: color $animation-speed;

	&:after {
		content: "\e904";
		font-family: 'icomoon';
	}

	&:hover {
		color: $base-text-color;
	}

	@include media('>=tablet') {
		background: transparent;
	}
}

.add-item {
	@include flex-central-align;
	text-decoration: none;
	outline: none;
	position: relative;
	background: $green;
	color: $white;
	border-radius: 100%;
	width: 41px;
	height: 41px;
	border: none;
	transition: background $animation-speed;

	&:before {
		font-family: 'icomoon';
		content: "\e910";

		@include media('>=tablet') {
			display: inline-block;
			vertical-align: middle;
			margin: 0 15px 0 0;
    		font-size: 12px;
		}
	}

	&:hover {
		background: lighten($green, 4%);
		color: $white;
	}

	&:focus {
		color: $white;
	}

	@include media('>=tablet') {
		justify-content: flex-start;
		min-width: 165px;
		border-radius: $sm-border-radius;
		font-size: $font-size-base;
		font-weight: 500;
		height: auto;
		width: auto;
		padding: 14px 17px;
	}
}

.help-link {
	display: inline-block;
	vertical-align: top;
	font-size: $medium-font-size;

	@include media('>=tablet')  {
		font-size: $secondary-size-base;
	}
}

.copy-link,
.add-link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-weight: 500;
	font-size: $medium-font-size;
	border: none;
	outline: none;
	padding: 0;
	background: transparent;
	color: $base-link-color;
	white-space: nowrap;

	&:before {
		font-family: 'icomoon';
		display: inline-block;
		vertical-align: middle;
		margin: 0 9px 0 2px;
		font-size: 18px;
	}

	@include media('>=tablet') {
		font-size: $font-size-base;
	}
}

.copy-link {
	&:before {
		content: "\e920";
		@include media('>=tablet') {
			content: "\e908";
		}
	}
}

.add-link {
	&:before {
		content: "\e910";
		font-size: 13px;
		margin: 0 9px 0 2px;
	}
}

.btn-clear {
	@include flex-central-align;
	outline: none;
	text-decoration: none;
	border: none;
	border-radius: 100%;
	background: $secondary-light-gray;
	color: $secondary-text-color;
	width: 24px;
	height: 24px;
	font-size: 9px;
	transition: color $animation-speed;

	&:before {
		font-family: 'icomoon';
		content: "\e904";
	}

	&:hover {
		color: $base-text-color;
	}

	@include media('>=tablet') {
		width: 30px;
		height: 30px;
		font-size: 12px;
	}
}

.btn-play {
	@include flex-central-align;
	background: rgba($purple, 0.9);
	width: 33px;
	height: 33px;
	border-radius: 100%;
	text-decoration: none;
	outline: none;
	border: none;
	transition: background $animation-speed;

	&:before {
		font-family: 'icomoon';
		content: "\e938";
		color: $white;
		font-size: 8px;
		margin: 0 0 0 3px;

		@include media('>=tablet') {
			font-size: 10px;
		}
	}

	&:hover {
		background: $purple;
	}

	@include media('>=tablet') {
		width: 36px;
		height: 36px;
	}
}

.btn-code {
	@include flex-central-align;
	text-decoration: none;
	outline: none;
	background: transparent;
	padding: 0;
	border-radius: 100%;
	width: 37px;
	height: 37px;
	border: 1px solid $secondary-light-gray;
	font-size: 10px;
	color: $base-text-color;

	@include media('>=tablet') {
		display: inline-block;
		vertical-align: top;
		font-weight: 500;
		font-size: $font-size-base;
		width: auto;
		min-width: 123px;
		height: auto;
		padding: 12px 5px;
		text-align: center;
		border-radius: $base-border-radius;
		border-color: $input-border-color;
		transition: background $animation-speed;
	}

	&:hover {
		background: rgba($secondary-light-gray, 0.2);
	}

	&:before{
		font-family: 'icomoon';
		content: "\e913";

		@include media('>=tablet') {
			display: none;
		}
	}
}

.btn-add,
.btn-added {
	@include flex-central-align;
	text-decoration: none;
	outline: none;
	background: transparent;
	padding: 0;
	border-radius: 100%;
	width: 36px;
	height: 36px;
	font-size: 15px;
	transition: background $animation-speed, border-color $animation-speed, color $animation-speed;

	@include media('>=tablet') {
		display: inline-block;
		vertical-align: top;
		font-weight: 500;
		font-size: $font-size-base;
		width: auto;
		min-width: 113px;
		height: auto;
		padding: 12px 15px;
		border-radius: $base-border-radius;
	}

	&:before{
		font-family: 'icomoon';
		display: inline-block;
		vertical-align: middle;

		@include media('>=tablet') {
			margin: 0 4px 0 0;
		}
	}
}

.btn-add {
	background: $green;
	color: $white;

	&:before{
		content: "\e910";
		@include media('>=tablet') {
			margin: 0 2px 0 -6px;
		}
	}

	&:hover {
		border-color: lighten($green, 4%);
		background: lighten($green, 4%);
		color: $white;
	}

	&:focus {
		color: $white;
	}
}

.btn-added {
	background: $secondary-bg-light-gray;
	color: $green;

	&:before{
		content: "\e916";
		font-size: 9px;
		@include media('>=tablet') {
			font-size: 7px;
		}
	}

	@include media('>=tablet') {
		background: $white;
	}
}

.step-back {
	@include flex-central-align;
	text-decoration: none;
	outline: none;
	background: transparent;
	width: 62px;
	min-height: 62px;
	padding: 5px;
	border: 1px solid $input-border-color;
	border-radius: 9px;
	color: $base-text-color;
	font-size: 17px;
	transition: background $animation-speed;

	&:before {
		font-family: 'icomoon';
		content: "\e924";
		display: inline-block;
		vertical-align: middle;

		@include media('>=tablet') {
			margin: 0 15px 0 0;
		}
	}

	&:hover {
		background: rgba($input-border-color, 0.2);
	}

	@include media('>=tablet') {
		font-weight: 500;
		width: auto;
		min-height: 0;
		padding: 15px 26px 16px;
	}
}

.help-link {
	display: inline-block;
	vertical-align: top;
	font-size: $medium-font-size;
	color: $secondary-text-color;
}