.has-arrow {
	position: relative;

	&:after {
		content: "\e918";
		font-family: icomoon;
		display:inline-block;
		vertical-align: middle;
		margin: 0 0 3px 3px;
		font-size: 7px;
		color: inherit;
		transition: transform $animation-speed;

		@include media('>=tablet') {
			margin: 0 0 0 5px;
		}
	}
}

.open-close,
.datepicker-open-close,
.hover-open-close {
	position: relative;
	color: $base-text-color;

	&.active  {
		.has-arrow:after {
			transform: rotate(180deg)
		}

		.slide {
			opacity: 1;
			visibility: visible;
		}
	}

	&.mobile-popup {
		@include media('<tablet') {
			position: static;
		}

		.slide,
		.slide[class*="-drop"] {
			@include media('<tablet') {
				top: 76px;
				left: 0;
				width: 100%;
				height: calc(100vh - 67px);
				margin: 0;
				min-width: 0 !important;
				border: none;
				border-radius: 0;
				box-shadow: none;
				padding: 33px 30px;
				position: fixed;
				z-index: 2;
				overflow-y: auto;
			}
		}

		.btn-holder {
			padding: 30px 0;
			@include media('>=tablet') {
				position: absolute;
				bottom: -2px;
				left: 0;
				padding: 0;
			}
		}
	}

	&.select {
		margin: 0 0 15px;

		&.active {
			.slide {
				@include media('>=tablet') {
					top: 100%;
				}
			}

			.opener {
				&:after {
					@include media('<tablet') {
						transform: rotate(0);
					}
				}
			}
		}

		@include media('>=tablet') {
			border-radius: 5px;
			border: 1px solid $lines-light-gray;
		}

		.slide {
			min-width: 0;
			top: 100%;
			left: 0;
			width: 100%;
			margin: 0;
			border-radius: 0 0 11px 11px;

			&:before {
				display: none;
			}
		}

		.opener {
			@include flex-horizontal-align;
			font-size: 15px;
			width: 100%;
			position: relative;
			padding: 0 20px 0 0;
			height: 45px;
			font-size: $large-font-size;

			@include media('>=tablet') {
				font-size: $font-size-base;
				color: $secondary-text-color;
				padding: 5px 9px;
			}

			&:after {
				position: absolute;
				font-size: 4px;
				right: 17px;
				top: calc(50% - 2px);
				margin: 0;

				@include media('<tablet') {
					font-size: 7px;
					right: 0;
					top: calc(50% - 3px);
					transform: rotate(-90deg);
				}
			}

			&.selected-item {
				color: $base-text-color;
			}

			.align-select-text {
				width: 100%;
				height: 100%;
			}
		}

		.align-select-text {
			@include flex-horizontal-align;
			width: 100%;

			img {
				margin: 0 9px 0 0;

				@include media('>=tablet') {
					margin: 0 15px 0 0;
				}
			}
		}

		.list {
			li {
				@include media('<tablet') {
					@include flex-horizontal-align;
					justify-content: space-between;
				}
			}
		}

		.switch-frame {
			padding: 0;
			@include media('>=tablet') {
				display: none;
			}

			.switch {
				margin: 0;
			}
		}

		.fake-switch-label {
			@include media('>=tablet') {
				cursor: pointer;
			}
		}

		.fake-label {
			padding: 0;

			@include media('>=tablet') {
				padding: 0;
			}
		}

	}

	&.clients-sorting {
		padding: 16px 0 30px;

		@include media('>=desktop') {
			display: none;
		}

		.icon-sorting {
			font-size: 10px;
			margin: 0 5px 0 0;
		}

		.opener {
			font-size: $font-size-base;
			font-weight: 500;

			&:after {
				margin: 0 0 0px 5px;
				font-size: 4px;
			}
		}
	}

	&.sorting {
		width: 100%;

		&.up {
			.sorting-icon {
				&:before {
					color: $input-border-color;
				}
				&:after {
					color: $base-text-color;
				}
			}
		}

		&.down {
			.sorting-icon {
				&:before {
					color: $base-text-color;
				}
				&:after {
					color: $input-border-color;
				}
			}
		}

		@include media('>=tablet') {
			@include flex-horizontal-align;
			width: auto;
		}

		.opner-subtitle {
			color: $secondary-text-color;
			display: inline-block;
			vertical-align: middle;
			padding: 0 7px 0 0;
		}

		.opener {
			font-weight: 500;
			font-size: $medium-font-size;

			&.has-arrow {
				&:after {
					margin: 0 0 2px 6px;
					font-size: 4px;

					@include media('>=tablet') {
						display: none;
					}
				}
			}

			.sorting-icon {
				display: inline-block;
				vertical-align: middle;
				font-style: normal;
				font-size: 13px;
				padding: 0 5px 5px 0;
				white-space: nowrap;

				&:before,
				&:after {
					font-family: 'icomoon';
					content: "\e93f";
					display: inline-block;
					vertical-align: middle;
					margin: 0 1px;
				}

				&:after {
					transform: rotate(180deg);
				}
			}
		}
	}

	.opener {
		color: inherit;
		font-size: inherit;
		text-decoration: none;
		transition: color $animation-speed;

		&:hover {
			color: $purple;
		}

		&.btn-edit,
		&.btn-del,
		&.btn-archive {
			color: $secondary-text-color;
			transition: color $animation-speed;

			&:hover {
				color: $base-text-color;
				opacity: 1;
			}
		}

		a {
			font-size: inherit;
		}
	}

	.slide {
		font-size: $font-size-base;
		position: absolute;
		background: $white;
		min-width: 246px;
		padding: 20px 25px;
		border-radius: $lg-border-radius;
		box-shadow: 0px 18px 50px rgba(94, 101, 140, 0.15);
		z-index: 2;
		opacity: 0;
		top: calc(100% + 18px);

		&.top-direction {
			bottom: calc(100% + 15px);
			top: auto;
			font-weight: normal;
			width: 246px;

			@include media('>=tablet') {
				right: 0;
				left: auto;
			}
		}

		&.right-direction {
			right: -10px;
			left: auto;
		}

		&.right-direction {
			right: -10px;
			left: auto;
		}

		&.tablet-right-direction {
			@include media('>=tablet') {
				right: -20px;
				left: auto;
			}
		}

		.list {
			margin-bottom: -17px;
		}

		h3, .h3 {
			font-size: 18px;
			font-weight: 700;
			margin: 0 0 19px;
		}

		input[type='search'] {
			@include placeholder {
				color: $placeholder-color;
				font-size: $font-size-base;
			}
		}

		.slide-caption {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			padding: 0 0 35px;

			@include media('>=tablet') {
				display: none;
			}

			.title {
				display: block;
				font-weight: 500;
				font-size: 22px;
				line-height: 1.3;
			}

			.btn-back {
				@include flex-central-align;
				margin: 0;
				width: 25px;
				height: 25px;
				background: none;
				font-size: 17px;
				margin: 3px -2px 0 0;

				&:before {
					transform: translate(0);
					content: "\e91b";
					position: static;
				}
			}
		}
	}

	.search-box {
		position: relative;
		margin: 0 0 16px;

		.btn-search {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 9px;
			font-size: 15px;
		}

		input {
			background: $secondary-bg-light-gray;
			border-radius: 5px;
		}
	}

	.slide-two-column {
		@include media('>=tablet') {
			display: flex;
		}

		.col {
			padding: 0 0 35px;
			@include media('>=tablet') {
				width: 50%;
				padding: 0 18px 0 0;
			}
		}

		.col + .col {
			position: relative;
			padding: 27px 0 0;

			&:before{
				content: '';
				background: $lines-light-gray;
				height: 1px;
				left: -25px;
				right: -25px;
				top: 0;
				position: absolute;

				@include media('>=tablet') {
					height: auto;
					width: 1px;
					left: 0;
					right: auto;
					top: -22px;
					bottom: -67px;
				}
			}

			@include media('>=tablet') {
				padding: 0 0 0 18px;
			}
		}
	}

	.slide-two-column + .btn-holder {
		@include media('>=tablet') {
			max-width: 50%;
		}
	}

	.slide-title {
		display: block;
		padding: 0 0 38px;
		font-size: 18px;
		font-weight: normal;
		color: $base-text-color;

		@include media('>=tablet') {
			font-size: $font-size-base;
			font-weight: 500;
			color: $secondary-text-color;
			padding: 0 0 30px;
		}

		i.hidden-tablet[class*="icon"] {
			font-size: 7px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 9px 2px 0px;
		}
	}

	.lead-slide-title {
		font-size: 20px;
		color: $base-text-color;
		display: block;
		padding: 0 0 41px;
		font-weight: 500;
	}

	.submit,
	button[type="submit"] {
		font-size: 12px;

		@include media('<tablet') {
			width: 100%;
			font-size: 15px;
			font-weight: 500;
			padding: 18px 15px;
		}
	}

	.btn-back {
		margin: -2px 13px 0 0;
	}

	.icon-calendar {
		color: $purple;
		display: inline-block;
		vertical-align: bottom;
		margin: 0 7px 0 0;
		font-size: 21px;
	}

	.selected-date {
		font-weight: 500;

		.date {
			font-weight: $base-font-weight;
		}
	}
}

.hover-open-close {
	.slide {
		padding: 18px 0 0;
		background: transparent;
		border-radius: 0;
		box-shadow: none;
		min-width: 0;
		top: 100%;

		&.right-direction {
			@include media('>=tablet') {
				right: -20px;
			}
		}

		.slide-holder {
			background: $white;
			min-width: 246px;
			padding: 20px 25px;
			border-radius: $lg-border-radius;
			box-shadow: 0px 18px 50px rgba(94, 101, 140, 0.15);
		}
	}
}

.datepicker-open-close {
	.opener {
		@include flex-horizontal-align;

		i {
			color: $purple;
		}
	}
}

.output-open-close {

	.opner-subtitle {
		color: $secondary-text-color;
		padding: 0 5px 0 0;
	}

	.opener {
		font-size: $medium-font-size;
		font-weight: 500;

		&.has-arrow {		
			&:after {
				font-size: 5px;
				margin: 0 0 0px 2px;
				
				@include media('>=tablet') {
					margin: 2px 0 0 5px;
				}
			}
		}


		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}
}

.filter-holder {

	&.active {
		.filter-slide {
			opacity: 1;
			visibility: visible;
		}
	}

	.checkbox {
		@include media('>=tablet') {
			font-size: $medium-font-size;
		}

		.fake-input, .check-all {
			@include media('>=tablet') {
				margin-right: 6px;
			}
		}

		input[type="checkbox"]:checked ~ .fake-label {
			@include media('>=tablet') {
				font-weight: $base-font-weight;
			}
		}
	}

	.filter-btn {
		@include flex-central-align;
		width: 25px;
		height: 25px;
		color: $base-text-color;

		&:before {
			font-family: 'icomoon';
			content: "\e91c";
			font-size: 23px;
		}

		@include media('>=tablet') {
			display: none;
		}
	}

	.filter-slide {
		top: 76px;
		left: 0;
		width: 100%;
		height: calc(100vh - 76px);
		padding: 38px 30px 100px;
		position: fixed;
		z-index: 2;
		overflow-y: auto;
		font-size: $font-size-base;
		background: $white;
		z-index: 2;
		opacity: 0;
		visibility: hidden;

		@include media('>=tablet') {
			position: static !important;
			display: block !important;
			width: auto;
			padding: 0;
			opacity: 1;
			visibility: visible;
			height: auto;
			overflow: visible;
		}

		.filter-frame {
			@include media('>=tablet') {
				display: flex;
				justify-content: flex-end;
			}
		}

		.filter-col {
			@include media('>=tablet') {
				padding: 0 0 0 15px;
			}
			@include media('>=desktop') {
				padding: 0 0 0 36px;
			}
		}

		.btn-holder {
			position: absolute;
			bottom: 26px;
			left: 30px;
			right: 30px;
		}

		.btn {
			width: 100%;
		}

		.checkbox-row {
			padding: 24px 1px;

			.fake-input {
				border-radius: 4px;
			}
		}

		label, .label {
			display: block;
		}

		.list {
			font-size: $font-size-base;
			margin-bottom: 0;
			padding: 0 0 17px;

			li {
				padding: 0 0 19px;

				@include media('>=tablet') {
					padding: 0 0 11px;
				}
			}
		}
	}

	.lead-slide-title {
		@include flex-horizontal-align;
		justify-content: space-between;
		font-weight: 500;
		font-size: 22px;
		border-bottom: 1px solid $secondary-light-gray;
		padding: 0 30px 24px;
		margin: 0 -30px;
	}

	.open-close {
		padding: 22px 30px 24px;
		margin: 0 -30px;
		border-bottom: 1px solid $secondary-light-gray;

		@include media('>=tablet') {
			border-bottom: none;
			padding: 0;
			margin: 0;
		}

		.opener-align {
			&.filtered {
				position: relative;

				.opener {
					&:before {
						@include media('<tablet') {
							display: none;
						}
					}
					@include media('<tablet') {
						padding-right: 0;
					}
				}

				.btn-clear {
					display: block;
				}
			}

			@include media('>=tablet') {
				@include flex-horizontal-align;
			}

			.btn-clear {
				width: 26px;
				height: 26px;
				line-height: 26px;
				position: absolute;
				text-align: center;
				right: -5px;
				bottom: -5px;
				display: none;

				@include media('>=tablet') {
					width: 20px;
					height: 20px;
					line-height: 20px;
					position: static;
					font-size: 8px;
					padding: 0;
					margin: 0 0 0 6px;
				}
			}
		}

		.opener-title {
			color: $secondary-text-color;
			display: block;
			font-weight: 500;
			padding: 0 0 11px;

			@include media('>=tablet') {
				padding: 0 5px 0 0;
				font-weight: $base-font-weight;
			}
		}

		.opener {
			font-size: $medium-font-size;
			position: relative;
			display: block;
			padding: 0 15px 0 0;

			&:before{
				position: absolute;
				font-family: 'icomoon';
				content: "\e918";
				font-size: 7px;
				transform: rotate(-90deg);
				right: -3px;
				top: calc(50% - 3px);

				@include media('>=tablet') {
					transform: rotate(0);
					right: 0;
					top: calc(50% - 1px);
					font-size: 5px;
				}
			}

			@include media('>=tablet') {
				padding: 2px 11px 0 0;
				font-weight: 500;
			}
		}

		.text-overflow {
			@include media('>=tablet') {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 152px;
				display: inline-block;
				vertical-align: top;
			}
		}

		.slide-caption {
			@include flex-horizontal-align;
			justify-content: space-between;
			font-size: 22px;
			font-weight: 500;
			padding: 0 0 42px;

			@include media('>=tablet') {
				display: none;
			}
		}

		.slide {
			min-width: 226px;

			@include media('<tablet') {
				padding-bottom: 110px;
			}

			@include media('>=tablet') {
				padding: 26px 28px;
			}

			.bottom-btn {
				position: absolute;
				bottom: 40px;
				left: 30px;
				right: 30px;

				@include media('>=tablet') {
					position: static;
				}

				.btn {
					padding: 21px 15px;

					@include media('>=tablet') {
						font-size: $font-size-base;
						padding: 12px 15px;
					}
				}
			}
		}
	}
	
	.btn-back {
		@include flex-central-align;
		margin: 0;
		width: 25px;
		height: 25px;
		background: none;
		font-size: 17px;
		margin: 1px -4px 0 0;

		&:before{
			transform: translate(0);
			content: "\e91b";
			position: static;
		}
	}
}

.search-holder {
	&.active {
		.serach-slide {
			opacity: 1;
			visibility: visible;
		}
	}

	.serach-slide {
		opacity: 0;
		visibility: hidden;
	}
}

.referrals-sorting,
.referrals-sorting.mobile-popup {
	@include media('>=tablet') {
		display: none;
	}

	.opener {
		@include flex-central-align;
		width: 22px;
		height: 22px;

		&:before{
			font-family: 'icomoon';
			content: "\e927";
		}
	}

	.slide {
		@include media('<tablet') {
			padding-bottom: 120px;
		}

		.btn-frame {
			@include media('<tablet') {
				position: absolute;
				bottom: 45px;
				right: 30px;
				left: 30px;
			}
		}

		.btn {
			@include media('<tablet') {
				width: 100%;
			}
		}
	}
}

.drop-in-scroll-block {
	@include media('<tablet') {
		font-size: $font-size-base;
		position: absolute;
		background: $white;
		min-width: 246px;
		padding: 20px 25px;
		border-radius: $lg-border-radius;
		box-shadow: 0px 18px 50px rgba(94, 101, 140, 0.15);
		z-index: 2;
		opacity: 0;
		top: calc(100% + 18px);
		height: auto !important;
		padding-top: 20px !important;
	}
}