.list {
	@extend %listreset;
	font-size: $medium-font-size;

	&.has-active-checkmark {
		padding: 0 0 10px;
		
		li {
			padding: 0 0 17px;

			&.active {
				a {
					font-weight: $base-font-weight;

					&:before {
						opacity: 1;
					}
				}
			}

			a {
				padding: 0 0 0 22px;
				position: relative;

				&:before {
					content: "\e902";
					font-family: 'icomoon';
					font-size: 10px;
					position: absolute;
					top: 4px;
					left: 0;
					color: $purple;
					font-size: 7px;
					opacity: 0;
				}
			}
		}
	}

	&.delete-items {
		li {
			position: relative;
			padding-right: 15px;

			.btn-remove {
				position: absolute;
				top: 0;
				right: -3px;

				@include media('>=tablet') {
					top: -3px;
					right: -5px;
				}
			}
		}
	}

	@include media('>=tablet')  {
		font-size: $font-size-base;
	}

	li {
		padding: 0 0 25px;

		&.active >a {
			font-weight: 700;
		}

		&.selected {
			.fake-switch-label,
			>a {
				font-weight: 500;
			}
		}
		
		>a {
			white-space: normal;
			text-decoration: none;
			color: inherit;
			display: inline-block;
			vertical-align: top;
			text-decoration: none;
			transition: color $animation-speed;
			
			&:hover {
				color: $purple;
			}
		}

		a.btn-remove {
			@include flex-central-align;
			color: $secondary-text-color;
		}
	}
}

.list-inline {
	@extend %listreset;
	margin: 0 -5px;

	li {
		display: inline-block;
		vertical-align: top;
		padding: 0 5px;
	}
}

.chart-legend-list {
	@include flex-horizontal-align;
	@extend %listreset;
	font-size: $secondary-size-base;

	li {
		@include flex-horizontal-align;

		&:first-child,
		&:last-child {
			color: #687897;
		}
	}

	li + li {
		padding: 0 0 0 15px;
	}

	.icon {
		display: inline-block;
		vertical-align: middle;
		width: 12px;
		height: 3px;
		border-radius: 2em;
		margin: 0 9px 0 0;
	}
}

.column-order-list {
	@extend %listreset;
	font-size: 15px;

	li {
		@include flex-horizontal-align;
		justify-content: space-between;
		border: 1px solid $lines-light-gray;
		border-radius: 6px;
		margin: 0 0 8px;
		padding: 10px 14px 9px 32px;
		position: relative;
		cursor: grab;

		&:before {
			position: absolute;
			top: calc(50% - 6px);
			left: 13px;
			font-family: 'icomoon';
			content: "\e93b";
			font-size: 12px;
			color: $secondary-text-color;
		}

		.btn-remove {
			margin: 0 0 0 7px;
			font-size: 11px;
		}
	}
}

.statistics-list {
	@extend %listreset;

	@include media('>=tablet') {
		@include flex-horizontal-align;
	}

	@include media('>=tablet') {
		margin: 0 -30px;
	}

	@include media('>=desktop') {
		padding-left: 25.4%
	}

	li {
		@include flex-horizontal-align;
		padding: 10px 0;
		border-bottom: 1px solid $secondary-light-gray;

		@include media('>=tablet') {
			flex-direction: row-reverse;
			border-bottom: none;
			padding: 0 30px;
		}
	}

	.text {
		flex: 1 0;
		display: flex;
		justify-content: space-between;
		font-size: $medium-font-size;

		@include media('>=tablet') {
			display: block;
			font-size: 17px;
		}

		strong {
			font-weight: 500;
			display: block;
			padding: 0 10px 0 0;

			@include media('>=tablet') {
				font-weight: 700;
				font-size: $medium-font-size;
				padding: 0 0 5px;
			}
		}
	}

	.c100 {
		margin: 0 0 0 27px;

		@include media('>=tablet') {
			margin: 0 18px 0 0;
		}
	}
}

.site-options-list {
	@extend %listreset;
	font-size: $medium-font-size;

	li {
		@include flex-horizontal-align;
		padding: 0 0 13px;

		&.active {
			a {
				color: $base-text-color;
			}

			.icon {
				background: transparent;
				border-color: $green;
				color: $green;
				font-size: 7px;

				&:before{
					content: "\e916";
				}
			}
		}

		a {
			font-weight: 500;
			color: $purple;
			text-decoration: none;
			transition: color $animation-speed;
			
			&:hover {
				color: $base-text-color;
			}
		} 

		.icon {
			@include flex-central-align;
			font-style: normal;
			margin: 0 15px 0 1px;
			width: 25px;
			height: 25px;
			border-radius: 100%;
			background: $purple;
			color: $white;
			font-size: 12px;
			border: 1px solid transparent;

			&:before {
				font-family: 'icomoon';
				content: "\e910";
			}

			@include media('>=tablet') {
				margin: 0 15px 0 0;
			}
		}
	}
}

.domains-list {
	@extend %listreset;
	padding: 0 0 10px;

	@include media('>=tablet') {
		@include flex-horizontal-align;
		padding: 0;
	}

	>li {
		@include flex-horizontal-align;
		border: 1px solid $secondary-light-gray;
		border-radius: 7px;
		padding: 2px 0 5px 14px;
		margin: 0 0 8px;
		position: relative;

		&.lead {
			.domain-name {
				font-weight: 500;

				&:after{
					display: block;
				}

				@include media('>=tablet') {
					font-weight: $base-font-weight;
				}
			}
		}

		&:hover {
			@include media('>=tablet') {
				background: $secondary-bg-light-gray;
			}
			.hover-open-close {
				@include media('>=tablet') {
					width: 25px;
					margin: 0 0 0 14px;
					overflow: visible;
				}
			}
		}

		&:before{
			font-family: 'icomoon';
			content: "\e940";
			display: inline-block;
			vertical-align: middle;
			margin: 5px 9px 0 0;
			font-size: 13px;

			@include media('>=tablet') {
				display: none;
			}
		}

		@include media('>=tablet') {
			border-radius: 2em;
			padding: 5px 13px;
			min-height: 39px;
			margin: 0 10px 0 0;
			cursor: pointer;
			transition: background $animation-speed;
		}
	}

	.domain-name {
		position: relative;
		display: flex;
		width: calc(100% - 45px);

		&:after {
			font-family: 'icomoon';
			content: "\e939";
			color: $light-red;
			margin: 2px 0 0 5px;
			display: none;
			font-size: 10px;

			@include media('>=tablet') {
				margin: 3px 10px 0 0;
			}
		}

		@include media('>=tablet') {
			flex-direction: row-reverse;
			width: auto;
		}
	}

	.hover-open-close {
		align-self: flex-end;
		@include media('>=tablet') {
			width: 0;
			overflow: hidden;
			transition: width $animation-speed, margin $animation-speed;
		}

		.opener {
			margin: 0;
			&.btn-actions {
				background: transparent;
				width: 30px;

				&:before{
					font-size: 15px;
					@include media('>=tablet') {
						font-size: 3px;
					}
				}

				@include media('>=tablet') {
					width: 25px;
					height: 25px;
					background: $secondary-light-gray;
					border-radius: 100%;
					color: $secondary-text-color;
				}
			}
		}

		.slide {
			padding: 18px 0 0;
			background: transparent;
			border-radius: 0;
			box-shadow: none;
			min-width: 0;
			top: 100%;

			&.right-direction {
				@include media('>=tablet') {
					right: -20px;
				}
			}

			.slide-holder {
				background: $white;
				min-width: 246px;
				padding: 20px 25px;
				border-radius: $lg-border-radius;
				box-shadow: 0px 18px 50px rgba(94, 101, 140, 0.15);
			}
		}
	}
}

.video-list {
	@extend %listreset;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -9px;

	@include media('>=tablet') {
		margin: 0;
		padding: 0 0 51px;
	}

	>li {
		width: 50%;
		padding: 0 9px 55px;
		color: $secondary-text-color;

		@include media('>=550px') {
			width: 33.33%;
		}

		@include media('>=tablet') {
			padding: 25px 0 14px;
			width: 100%;
			border-bottom: 1px solid $secondary-light-gray;
		}
	}

	.video-item-holder {
		@include media('>=tablet') {
			@include flex-horizontal-align;
			justify-content: space-between;
		}
	}

	.video-img {
		width: 100%;
		margin: 0 0 14px;
		border-radius: 10px;
		overflow: hidden;
		position: relative;

		@include media('>=tablet') {
			width: 184px;
			margin: 0 30px 0 0;
		}

		img {
			width: 100%;
		}

		.btn-play {
			position: absolute;
			top: 47%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.video-description {
		@include media('>=tablet') {
			flex: 1 0;
			max-width: 480px;
			padding: 11px 0 0;
		}
	}

	h3 {
		color: $base-text-color;
		font-size: $medium-font-size;
		font-weight: 500;
		margin: 0 0 9px;

		@include media('>=tablet') {
			font-size: 19px;
			margin: 0 0 6px;
		}
	}

	p {
		font-size: $secondary-size-base;
		line-height: 1.5;
		margin: 0 0 12px;

		@include media('>=tablet') {
			font-size: $font-size-base;
			margin: 0 0 26px;
		}
	}

	.open {
		font-weight: 700;
		color: $base-text-color;
		transition: color $animation-speed;

		&:hover {
			color: $purple;
		}
	}

	.video-item {
		@include media('>=tablet') {
			display: flex;
			align-items: flex-start;
		}
	}

	.btn-frame {
		@include flex-horizontal-align;
		justify-content: space-between;
		flex-wrap: wrap;

		&.mob-reverse {
			@include media('<tablet') {
				flex-direction: column-reverse;
				align-items: flex-start;
			}

			.add-episod {
				@include media('<tablet') {
					margin: 0;
					padding: 0 0 5px;
				}
			} 
		}

		@include media('>=tablet') {
			justify-content: flex-end;
			flex-wrap: nowrap;
			min-width: 44%;
			margin: 0 -9px;
			padding: 0 0 0 15px;
		}

		@include media('>=desktop') {
			min-width: 35%;
		}

		@include media('>=widescreen') {
			min-width: 25%;
		}

		.btn {

			&.has-plus,
			&.has-checkmark {
				&:before {
					@include media('>=tablet', '<1140px') {
						margin: 0 8px 0 0;
					}
				}
			}

			@include media('>=tablet', '<1140px') {
				padding: 15px 12px 16px
			}
		}
	}

	.add-episod {
		width: auto;
		@include media('<tablet') {
			width: 100%;
			order: 3;
			padding: 9px 0 0;
			margin: 0 0 -13px;
		}

		.btn {
			@include media('<tablet') {
				width: auto;
			}
		}
	}

	.btn {
		color: $base-text-color;
		margin: 0 9px;

		&:only-of-type {
			@include media('<tablet') {
				width: auto;
			}
		}

		@include media('<tablet') {
			font-size: $font-size-base;
			padding: 11px 8px;
			margin: 0;
			width: 79%;
		}

		&.btn-green {
			color: $white;
		}

		&.mob-link,
		&.mob-link.opener {
			@include media('<tablet') {
				padding: 0;
				border: none;
				color: $purple;
				font-size: $medium-font-size
			}
		}

		&.has-plus,
		&.btn-green.has-plus,
		&.btn-gray,
		&.btn-gray.has-checkmark {
			&:before{
				@include media('<tablet') {
					margin: 0 8px 0 0;
				}
			}
			@include media('<tablet') {
				color: $purple;
				padding: 0;
				background: transparent;
				border: none;
				font-weight: 500;
				font-size: $medium-font-size;
				width: auto;
				min-width: 0;
			}
		}

		&.btn-gray,
		&.btn-gray.has-checkmark {
			@include media('<tablet') {
				color: $green;
			}
		}

		&.has-code {
			@include media('<tablet') {
				width: 79%;
				margin: 0 10px 0 0;
			}
		}
	}

	.btn-del {
		background: transparent;
		color: $light-red;
		margin: 0;
		width: auto;

		@include media('>=tablet') {
			margin: 0 0 0 7px;
			color: $secondary-text-color;
			font-size: 20px;
		}

		@include media('>=desktop') {
			margin: 0 5px 0 15px;
		}

		&:hover {
			color: $base-text-color;
		}
	}

	.open-close {

		&.active {
			@include media('>=tablet') {
				background: $secondary-bg-light-gray;
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 11px;
			}

			.opener {
				@include media('>=tablet') {
					background: $secondary-text-color;
					color: $white;
					border-color: $secondary-text-color;
				}
			}

			.slide {
				@include media('>=tablet') {
					background: $secondary-bg-light-gray;
				}
			}
		}

		&.mobile-popup {
			.slide {
				@include media('<tablet') {
					padding: 37px 29px;
				}
			}
		}

		@include media('>=tablet') {
			border-radius: $lg-border-radius;
			margin: -1px -19px 0;
			padding-left: 19px;
			padding-right: 19px;
			width: calc(100% + 36px);
		}

		@include media('>=desktop') {
			margin: -1px -10px 0;
			padding-left: 10px;
			padding-right: 10px;
			width: calc(100% + 20px);
		}

		@include media('>=widescreen') {
			margin: -1px -33px 0;
			padding-left: 33px;
			padding-right: 33px;
			width: calc(100% + 66px);
		}

		.opener {
			color: $base-text-color;
			transition: background $animation-speed, border-color $animation-speed, color $animation-speed;
		}

		.slide {
			position: static;
			width: 100%;
			box-shadow: none;
			border-radius: 0;

			@include media('>=tablet') {
				padding: 43px 2px 6px;
			}

			.series-info {
				padding: 0 0 39px;
				@include media('>=tablet') {
					display: none;
				}

				p {
					margin: 0 0 26px;
				}

				.video-type {
					padding: 0 0 19px;
					li {
						&:before {
							@include media('<tablet') {
								content: '';
								background: $input-border-color;
								width: 3px;
								height: 3px;
								border-radius: 100%;
								vertical-align: middle;
								margin: 0 6px;
							}
						}
					}
				}
			}

			.series-slide-caption {
				@include flex-horizontal-align;
				justify-content: space-between;
				color: $base-text-color;
				font-size: 22px;
				font-weight: 500;
				padding: 0 0 10px;

				.btn-back {
					@include flex-central-align;
					margin: 0;
					width: 25px;
					height: 25px;
					background: none;
					font-size: 17px;
					margin: 1px -4px 0 0;

					&:before{
						transform: translate(0);
						content: "\e91b";
						position: static;
					}
				}
			}

			.series-info-btn {
				@include flex-horizontal-align;
				justify-content: space-between;

				.btn {
					@include media('<tablet') {
						width: auto;
						flex: 1 0;
						font-size: $large-font-size;
						padding: 21px 8px;
					}
				}

				.btn-del {
					color: $base-text-color;
					margin: 0 0 0 23px;
					font-size: 18px;
				}
			}

			.season-block {
				padding: 0 0 20px;
				@include media('>=tablet') {
					padding: 0 0 34px;
				}

				.title {
					color: $base-text-color;
					font-weight: $base-font-weight;
					font-size: $large-font-size;
					display: block;
					padding: 0 0 21px;

					@include media('>=tablet') {
						font-size: 19px;
					}
				}
			}
		}
	}
}

.video-type {
	@include flex-horizontal-align;
	@extend %listreset;
	flex-wrap: wrap;
	padding: 0 0 7px;
	color: $base-text-color;

	@include media('>=tablet') {
		color: $purple;
		padding: 0 0 13px;
	}

	li {
		position: relative;
		padding: 0 0 4px;

		&:before {
			content: ',';
			margin: 0 3px 0 0;
			display: none;

			@include media('>=tablet') {
				content: '';
				background: $input-border-color;
				width: 3px;
				height: 3px;
				border-radius: 100%;
				vertical-align: middle;
				margin: 0 6px;
			}
		}

		&.duration  {
			width: 100%;
			color: $secondary-text-color;
			&:before {
				@include media('<tablet') {
					display: none;
				}
			}

			@include media('>=tablet') {
				width: auto;
				color: $base-text-color;
			}
		}
	}

	li + li {
		&:before {
			display: inline-block;
		}
	}
}

.episode-list {
	@extend %listreset;

	@include media('>=tablet') {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 0 -13px;
	}

	>li {
		display: flex;
		padding: 0 0 18px;

		@include media('>=tablet') {
			display: block;
			padding: 0 13px 15px;
		}
	}

	.episode-img {
		position: relative;
		margin: 0 19px 0 0;
		width: 94px;
		border-radius: 10px;
		overflow: hidden;

		@include media('>=tablet') {
			width: 187px;
			margin: 0 0 13px;
			border-radius: 6px;
		}

		.btn-play {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.episode-description {
		@include flex-horizontal-align;
		justify-content: space-between;
		flex: 1 0;
		color: $base-text-color;

		@include media('>=tablet') {
			display: block;
		}
	}

	.episode-info {
		@include media('>=tablet') {
			padding: 0 0 19px;
		}
	}

	.episode-name {
		display: block;
		font-weight: 500;
		font-size: $medium-font-size;
		padding: 0 0 6px;

		@include media('>=tablet') {
			padding: 0 0 9px;
		}
	}

	.episode-actions-btn {
		@include flex-horizontal-align;
		padding: 0 0 0 10px;

		@include media('>=tablet') {
			padding: 0;
			justify-content: space-between;
		}

		.btn-del {
			margin: 0 0 0 14px;
			width: auto;
			height: auto;

			@include media('>=tablet')  {
				margin: 0 2px 0 14px;
			}
		}
	}
}

.season-episode-info {
	@extend %listreset;
	padding: 0 0 5px;
	color: $purple;

	li {
		display: inline-block;
		vertical-align: top;
	}
}

.step-list {
	@extend %listreset;
	@include flex-horizontal-align;
	position: relative;
	padding: 29px 10px 0;
	font-size: 14px;
	font-weight: 500;
	color: $input-border-color;

	@include media('>=tablet') {
		padding: 0;
		font-weight: 700;
		font-size: 12px;
	}

	li {
		@include flex-horizontal-align;

		&:last-child {
			.dots {
				display: none;
			}
		}

		&.active-step {
			color: $purple;

			.step-title {
				display: block;
			}

			.circle {
				background: $bg-light-gray;
				&:before {
					border-color: $purple;
				}
			}
		}

		&.done-step {
			color: $purple;

			.step-title {
				display: none;
			}

			.circle {
				background: $bg-light-gray;
				&:before {
					border: none;
					content: "\e902";
					font-family: 'icomoon'; 
				}
			}
		}
	}

	.circle {
		@include flex-central-align;
		width: 24px;
		height: 24px;
		border-radius: 100%;

		&:before {
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 100%;
			border: 1.5px solid $secondary-text-color;
			font-size: 6px;
			line-height: 1;
		}
	}

	.step-title {
		display: none;
		position: absolute;
		top: 0;
		left: 9px;

		@include media('>=tablet') {
			padding: 0 8px 0 11px;
			position: static;
		}
	}

	.dots {
		letter-spacing: 6px;
		padding: 0 6px 7px 16px;
		display: inline-block;
		text-align: center;
		font-size: $large-font-size;

		@include media('>=tablet') {
			letter-spacing: 7px;
			padding: 0 17px 7px 23px;
			font-size: $font-size-base;
		}
	}
}

.radio-list {
	@extend %listreset;
	margin: 5px 0 2px;

	@include media('>=tablet') {
		margin: 10px -14px 0;
	}

	li {
		padding: 0 0 8px;

		@include media('>=tablet') {
			display: inline-block;
			vertical-align: top;
			padding: 0 14px;
		}
	}

	label,
	.label {
		@include flex-horizontal-align;
	}
}

.badge-list {
	@extend %listreset;
	font-weight: 500;
	font-size: 12px;
	color: $secondary-text-color;

	li {
		display: inline-block;
		vertical-align: top;
		margin: 0 1px;
		padding: 3px 7px;
		background: $secondary-light-gray;
		border-radius: 4px;

		&.active {
			background: $base-text-color;
			color: $white;
		}
	}
}

.chart-view {
	@extend %listreset;
	display: flex;
	margin: 0 -10px 24px;
	font-size: $medium-font-size;

	@include media('>=tablet') {
		margin: 0 -22px;
	}

	li {
		margin: 0 10px;
		padding: 28px 19px;
		border: 1px solid $lighter-gray;
		border-radius: 17px;
		width: 148px;

		&.active {
			background: $secondary-bg-light-gray;
			border-color: $secondary-bg-light-gray;

			@include media('>=tablet') {
				background: transparent;
			}

			.icon {
				color: $purple;

				@include media('>=tablet') {
					background: $secondary-bg-light-gray;
					border-color: $secondary-bg-light-gray;
				}
			}
		}

		@include media('>=tablet') {
			margin: 0 22px;
			padding: 0;
			border: none;
			border-radius: 0;
			width: auto;
		}

		>a {
			color: $base-text-color;
			display: block;

			&:hover {
				.icon {
				color: $purple;

					@include media('>=tablet') {
						background: $secondary-bg-light-gray;
						border-color: $secondary-bg-light-gray;
					}
				}
			}

			@include media('>=tablet') {
				@include flex-horizontal-align;
			}
		}
	}

	.icon {
		display: block;
		margin: 0 0 20px;
		font-size: 24px;

		&.icon-menu-users {
			@include media('>=tablet') {
				font-size: 24px;
			}
		}

		@include media('>=tablet') {
			@include flex-central-align;
			font-size: 20px;
			width: 65px;
			height: 65px;
			margin: 0 21px 0 0;
			border: 1px solid $secondary-light-gray;
			border-radius: 15px;
			transition: background $animation-speed, border-color $animation-speed;
		}
	}

	.number {
		display: block;
		font-size: 22px;
		padding: 9px 0 0;
	}
}

.program-list {
	@extend %listreset;
	padding: 7px 0 0;

	@include media('>=tablet') {
		padding: 0;
	}

	li {
		padding: 0 0 9px;
		@include media('>=tablet') {
			padding: 0 0 4px;
		}
	}
}

.token-definition-list {
	margin: 0;
	line-height: 1.8;

	@include media('>=tablet') {
		font-size: $medium-font-size;
		line-height: 1.75;
	}

	@include media('>=widescreen') {
		margin-right: 6%;
	}

	dt, dd {
		display: block;
		@include media('>=tablet') {
			display: inline-block;
			vertical-align: top;
		}
	}

	dt {
		font-weight: 500;
		font-size: $medium-font-size;
		margin: 0 0 12px;

		@include media('>=tablet') {
			width: calc(14% - 22px);
			margin: 0 15px 30px 0;
		}
	}

	dd {
		margin: 0 0 30px;

		@include media('>=tablet') {
			width: 86%;
			margin: 0 0 28px;
		}
	}
}

.payment-radio-list {
	@extend %listreset;
	@include flex-horizontal-align;
	margin: 0 -5px;
	white-space: nowrap;
	overflow-x: auto;

	li {
		padding: 0 5px;
	}

	label {
		@include flex-central-align;
		flex-flow: column nowrap;
		border: 2px solid $lines-light-gray;
		border-radius: 10px;
		padding: 5px 5px 11px;
		width: 148px;
		height: 101px;
		font-weight: $base-font-weight;
		cursor: pointer;
		transition: border-color $animation-speed, font-weight $animation-speed;

		@include media('>=tablet') {
			width: 160px;
		}

		span {
			width: 100%;
			text-align: center;
			font-weight: 500;
			font-size: $medium-font-size;

			@include media('>=tablet')  {
				font-size: $font-size-base;
				font-weight: 700;
			}
		}
	}

	input[type="radio"]:checked + label {
		border-color: $purple;
		font-weight: 700;
	}

	.icon-box {
		@include flex-central-align;
		height: 44px;
		margin: 0 0 7px;

		img {
			max-width: 100%;
		}
	}
}

.definition-list {
	margin: 0;
	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
	}

	dt {
		margin: 0 0 6px;
		font-weight: 500;
		color: $secondary-text-color;

		@include media('>=tablet') {
			margin: 0 0 28px;
			font-weight: normal;
			margin: 0;
			width: 30%;
		}

		@include media('>=desktop') {
			max-width: 182px;
		}
	}

	dd {
		margin: 0 0 15px;
		font-size: $medium-font-size;

		@include media('>=tablet') {
			margin: 0 0 28px;
			padding: 0 0 0 10px;
			width: 70%;
			font-size: $medium-font-size;
		}
	}
}

.tel-list {
	@extend %listreset;

	li + li {
		padding-top: 7px;
	}
}

.slide-sorting-list {
	@extend %listreset;
	font-size: $large-font-size;
	padding: 10px 0 ;

	li {
		padding: 0 15px 21px 0;
		position: relative;

		&:after {
			font-family: 'icomoon';
			content: "\e902";
			color: $white;
			background: $purple;
			border-radius: 100%;
			width: 23px;
			height: 23px;
			line-height: 23px;
			text-align: center;
			font-size: 7px;
			position: absolute;
			top: -2px;
			right: 2px;
			display: none;
			vertical-align: top;
		}

		&.active {
			font-weight: 500;
			
			&:after {
				display: inline-block;
			}
			.sorting-icon {
				display: inline-block;
				vertical-align: top;
			}
		}
	}

	.sorting-icon {
		vertical-align: middle;
		font-style: normal;
		font-size: 13px;
		margin: 0 9px 5px -4px;
		white-space: nowrap;
		display: none;

		&:before,
		&:after {
			font-family: 'icomoon';
			content: "\e93f";
			display: inline-block;
			vertical-align: middle;
			margin: 0 1px;
		}

		&:after {
			transform: rotate(180deg);
		}

		&.up {
			&:before {
				color: $input-border-color;
			}
			&:after {
				color: $base-text-color;
			}
		}

		&.down {
			&:before {
				color: $base-text-color;
			}
			&:after {
				color: $input-border-color;
			}
		}
	}
}