.modal{
	padding: 36px 28px 154px;
	position:absolute;
	left:-9999px;
	top:-9999px;
	background:#fff;
	z-index:1000;
	width: 100%;
	min-height: calc(100% - 76px);
	font-size: 15px;
	margin: 76px 0 0;

	&.modal-lg {
		@include media('>=tablet') {
			padding: 58px 59px 10px;
		}

		@include media('>=desktop') {
			width: 926px;
			height: 698px;
		}

		.modal-content {
			box-sizing: border-box;

			@include media('>=tablet') {
				padding-right: 10px;
			}
		}

		.close:not(.btn),
		.close {
			top: 29px;
			z-index: 10;

			@include media('>=tablet') {
				background: $bg-light-gray;
				color: $gray;
				border-radius: 100%;
				font-size: 12px;
				top: 23px;
				right: 23px;
			}
		}

		h2 {
			margin: 0 25px 43px 0;
			@include media('>=tablet') {
				margin: 0 0 51px;
			}
		}

		p {
			margin: 0 0 27px;
			font-size: $medium-font-size;
			line-height: 1.8;

			&.mob-without-indent {
				@include media('<tablet') {
					margin: 0;
				}
			}

			@include media('>=tablet') {
				font-size: $font-size-base;
				line-height: 1.75;
				margin: 0 0 13px;
			}

			@include media('>=desktop') {
				margin-right: 90px;
			}
		}

		p + h4 {
			@include media('>=tablet') {
				padding-top: 21px;
			}
		}

		h4 {
			margin: 0 0 27px;
			line-height: 1.7;
			font-size: $large-font-size;

			@include media('>=tablet') {
				margin: 0 0 16px;
				line-height: 1.2;
				font-size: $font-size-base;
			}
		}

		.program-list {
			padding: 5px 0 22px;

			@include media('>=tablet') {
				padding: 7px 0 27px;
			}

			li {
				@include media('>=tablet') {
					padding: 0 0 10px;
				}
			}
		}
	}

	&.сustomize-table-modal {
		padding: 25px 30px 154px;
		font-size: $medium-font-size;
		@include media('>=tablet') {
			max-height: 567px;
			padding: 45px 58px;
			padding-bottom: 45px;
		}

		@include media('>=desktop') {
			width: 818px;
		}

		.modal-content {
			padding: 0;
		}

		h2, .h2 {
			margin: 0 43px 43px 0;
			@include media('>=tablet') {
				margin: 0 0 43px;
			}
		}

		.modal-two-column {
			@include media('>=tablet') {
				display: flex;
				margin: 0 -43px;
			}
		}

		.col {
			padding: 20px 0;

			&:first-child {
				position: relative;

				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 1px;
					background: $lines-light-gray;

					@include media('>=tablet') {
						height: 322px;
						width: 1px;
						top: 0;
						bottom: auto;
					}
				}
			}

			@include media('>=tablet') {
				width: 50%;
				padding: 0 15px;
			}

			@include media('>=desktop') {
				padding: 0 23px 0 43px;
			}
		}

		.col-title {
			font-weight: $base-font-weight;
			display: block;
			padding: 0 0 26px;
			color: $secondary-text-color;
			font-size: 15px;
		}

		.column-order-list,
		.list {
			font-size: $medium-font-size;
			@include media('>=tablet') {
				font-size: $medium-font-size;			
				height: 317px;
				overflow-y: auto;
			}
		}

		.list {
			li {
				padding: 0 0 20px;
			}
		}

		.fake-input,
		.check-all {
			margin-right: 14px;
		}

		.modal-button {
			bottom: 0;
			background: $bg-light-gray;
			margin: 0 -20px;
			padding: 21px 20px 22px;
			border-radius: 0  0 17px 17px;

			@include media('>=tablet') {
				margin: 0 -58px;
				padding: 21px 58px 22px;
			}

			.btn {
				margin: 0;
				width: 100%;
				font-size: $secondary-size-base;

				@include media('>=tablet') {
					min-width: 139px;
					width: auto;
					padding: 13px 10px;
				}
			}

			.btn + .btn {
				margin: 7px 0 0;
				@include media('>=tablet') {
					margin: 0 0 0 15px;
				}
			}
		}

		.close,
		.close2,
		.close:not(.btn),
		.close2:not(.btn) {
			font-size: 13px;
			width: 41px;
			height: 41px;
			top: 24px;
			right: 23px;
			border-radius: 100%;
			background: $bg-light-gray;
			color: $placeholder-color;

			&:hover {
				color: $base-text-color;
			}
		}

		.fake-input,
		.check-all {
			@include media('>=tablet') {
				width: 14px;
				height: 14px;
			}
		}
	}

	&.mob-has-arrow {
		.close:not(.btn),
		.close2:not(.btn) {
			right: auto;
			left: 20px;
			top: 47px;

			&:before{
				content: "\e91e";
				font-size: 18px;
			}
		}

		h2, .h2 {
			@include media('<tablet') {
				padding-left: 36px;
				margin-bottom: 38px;
			}
		}

		p {
			font-size: $font-size-base;
			@include media('>=tablet') {
				font-size: $medium-font-size;
			}
		}

		.modal-button {
			.btn {
				&.has-code {
					@include media('<tablet') {
						padding: 21px 23px
					}
				}
			}
		}
	}

	&.payment-modal {
		text-align: center;
		padding: 27px 60px 154px;

		@include media('>=tablet') {
			text-align: left;
			padding: 49px 60px;
		}

		h2, .h2 {
			@include media('>=tablet') {
				margin: 0 0 32px;
			}
		}

		p {
			margin: 0 0 15px;
		}

		.btn {
			&.btn-purple {

				&:hover {
					@include media('<tablet') {
						border-color: lighten($green, 4%);
						background: lighten($green, 4%);
					}
				}

				@include media('<tablet') {
					border-color: $green;
					background: $green;
				}
			}
		}
	}

	@include media('>=tablet') {
		margin: 0;
		padding: 49px 60px;
		width: 608px;
		border-radius: 17px;
		min-height: 0;
		height: auto;
		font-size: $font-size-base;
		box-shadow: 0px 18px 50px rgba(94, 101, 140, 0.15);
	}

	h2 {
		font-size: 22px;
		margin: 0 25px 25px 0;
		line-height: 1.4;
		font-weight: 500;

		&.md-pb {
			margin: 0 25px 45px 0;
			@include media('>=tablet') {
				margin: 0 0 50px;
			}
		}

		@include media('>=tablet') {
			font-size: 23px;
			font-weight: 700;
			margin: 0 0 26px;
		}

		.subtitle {
			display: block;
			font-weight: $base-font-weight;
			font-size: 22px;
			padding: 1px 0 0;
			@include media('>=tablet') {
				font-size: 16px;
				padding: 6px 0 26px;
			}

			.link-color {
				@include media('<tablet') {
					color: inherit;
				}
			}
		}
	}

	h3 {
		font-size: 14px;
		font-weight: 500;
		margin: 0 0 18px;

		@include media('>=tablet') {
			font-size: 17px;
			margin: 0 0 22px;
		}
	}

	p {
		font-size: $large-font-size;

		&.lg-line-height {
			margin: 0 0 17px;
		}

		&.md-font-size {
			@include media('>=tablet') {
				font-size: $medium-font-size;
				margin: 0 0 30px;
			}
		}

		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}

	h2 + p.md-font-size {
		padding-top: 7px;
	}

	h2 +.upload-bordered-block {
		margin-top: 54px;
	}

	strong {
		font-weight: 700;
	}

	.modal-content {
		padding: 0 0 38px;

		&.pb-lg {
			@include media('>=tablet') {
				padding-bottom: 64px;
			}
		}

		&.password-modal {
			@include media('>=tablet') {
				max-width: 453px;
			}

			h2 {
				@include media('>=tablet') {
					margin: 0 0 38px;
				}
			}

			.form-row {
				@include media('>=tablet') {
					padding: 0 0 27px;
				}
			}
		}
	}

	.form-row {
		padding: 0 0 21px;
		&.has-help-link {
			position: relative;

			label, .label {
				padding-right: 95px;
			}
		}

		@include media('>=tablet') {
			padding: 0 0 16px;
		}

		.help-text {
			padding-top: 20px;
			display: block;
			color: $secondary-text-color;
			font-size: $medium-font-size;

			&.pt-sm {
				padding-top: 13px;
			}

			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}
		}

		.help-link {
			color: $purple;
			display: inline-block;
			vertical-align: top;
			margin: 13px 0 6px;

			@include media('>=tablet') {
				font-size: $font-size-base;
				position: absolute;
				top: 4px;
				right: 0;
				margin: 0;
			}
		}
	}

	.modal-button {
		position: absolute;
		bottom: 35px;
		left: 30px;
		right: 30px;

		&.has-top-indent {
			@include media('>=tablet') {
				padding-top: 27px;
			}
		}

		@include media('>=tablet') {
			@include flex-horizontal-align;
			margin: 0 -10px;
			position: static;
		}

		.btn {
			width: 100%;
			min-width: 105px;
			padding: 21px 20px;

			&.has-code,
			&.has-checkmark {
				&:before {
					@include media('<tablet') {
						display: none;
					}
				}
			}

			&.without-border {
				min-width: 0;
				padding: 0 8px;
			}

			@include media('>=tablet') {
				margin: 0 10px;
				padding: 15px 26px 16px;
				min-width: 105px;
				width: auto;
			}
		}

		.btn + .btn {
			@include media('<tablet') {
				margin-top: 14px;
			}
		}
	}

	.adv-info-block {
		@include flex-horizontal-align;
		padding: 9 0 4px;

		@include media('>=tablet')  {
			padding: 0 0 4px;
		}

		.has-bg {
			display: inline-block;
			vertical-align: top;
			background: $secondary-bg-light-gray;
			border-radius: 10px;
			padding: 11px;
			margin: 0 14px 0 0;
			font-weight: 500;
			font-size: $medium-font-size;
			text-align: center;
		}

		a {
			display: inline-block;
			vertical-align: middle;
			font-size: $font-size-base;
			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}
		}
	}

	.code-bordered-box  {
		padding: 21px 23px;
	}

	.add-video-modal {
		display: flex;
		align-items: flex-start;
		padding: 0 0 30px;
		position: relative;

		@include media('>=tablet') {
			padding: 0;
		}

		.img-box {
			width: 113px;
			border-radius: 14px;
			overflow: hidden;
			margin: 0 18px 0 0;

			@include media('>=tablet') {
				width: 146px;
				margin: 0 36px 0 0;
			}	
		}

		.video-info {
			flex: 1 0;

			@include media('>=tablet') {
				padding: 5px 0 30px;
			}
		}

		.modal-episode-title {
			@include media('>=tablet') {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column-reverse;
			}

			.video-name {
				padding: 0 0 6px;

				@include media('>=tablet') {
					padding: 0 0 8px;
				}
			}

			.episode-info {
				font-size: $font-size-base;
				color: $purple;
				display: block;
				margin: 0 0 16px;
				@include media('>=tablet'){
					margin: -9px 0 2px;
				}
			}
		}

		.switch-frame {
			position: absolute;
			left: 0;
			bottom: 0;

			@include media('>=tablet') {
				position: static;
			}

			.fake-switch-label {
				color: $base-text-color;
				font-size: $medium-font-size;
			}
		}

		.video-name {
			display: block;
			padding: 0 0 13px;
			font-weight: 500;
			font-size: $large-font-size;

			@include media('>=tablet') {
				font-size: 18px;
				padding: 0 0 8px;
			}
		}

		.video-type {
			font-size: $font-size-base;
			color: $secondary-text-color;
			padding: 0;

			@include media('>=tablet') {
				padding: 0 0 19px;
				color: $secondary-text-color;
			}

			li {
				padding: 0 0 7px;
				&:before {
					@include media('<tablet') {
						content: '';
						background: $input-border-color;
						width: 3px;
						height: 3px;
						border-radius: 100%;
						vertical-align: middle;
						margin: 0 6px;
					}
				}
			}
		}
	}
}

.modal .close:not(.btn),
.modal .close2:not(.btn){
	@include flex-central-align;
	cursor:pointer;
	color: $base-text-color;
	font-size: 19px;
	width: 41px;
	height: 41px;
	font-weight: normal;
	text-decoration: none;
	position: absolute;
	top: 31px;
	right: 17px;
	margin: 0;
	transition: color $animation-speed;

	&:before{
		content: "\e904";
		font-family: 'icomoon';
	}

	&:hover {
		color: $secondary-text-color;

		@include media('>=tablet') {
			color: $base-text-color;
		}
	}

	@include media('>=tablet') {
		background: $bg-light-gray;
		color: $gray;
		font-size: 12px;
		border-radius: 100%;
		top: 16px;
		right: 23px;
	}

	&.has-bg {
		background: $bg-light-gray;
		color: $gray;
		font-size: 12px;
		border-radius: 100%;
		top: 16px;
		right: 23px;

		&:hover {
			color: $base-text-color;
		}
	}
}

.upload-bordered-block {
	@include flex-central-align;
	flex-flow: column nowrap;
	flex-wrap: wrap;
	height: 246px;
	width: 100%;
	max-width: 488px;
	border: 3px dashed $secondary-light-gray;
	border-radius: 18px;
	padding: 15px;
	margin-top: 28px;
	text-align: center;

	img {
		margin: 0 0 35px;
	}

	.upload-btn {
		display: block;
		margin: 0 0 15px;
	}

	.btn {
		font-size: $font-size-base;
		padding: 12px 26px;
		margin: 0 0 15px;

		@include media('>=tablet') {
			font-size: $font-size-base;
			padding: 16px 26px;
		}
	}

	.help-text {
		display: block;
		color: $secondary-text-color;
	}
}

.modal-upload-block {
	text-align: center;
	padding: 39px 0 0;

	@include media('>=tablet') {
		@include flex-horizontal-align;
		text-align: left;
		padding: 9px 0 24px;
	}

	.file-box {
		@include media('>=tablet') {
			display: flex;
			align-items: flex-start;
		}
	}

	.img-box {
		width: 85px;
		height: 85px;
		border-radius: 100%;
		overflow: hidden;
		margin: 0 auto 24px;

		@include media('>=tablet') {
			width: 68px;
			height: 68px;
			margin: 0 20px 0 0;
		}
		
		img {
			width: 100%;
		}
	}

	.file-info {
		padding: 0 0 18px;

		@include media('>=tablet') {
			padding: 7px 30px 0 0;
		}
	}

	.file-name {
		font-size: $large-font-size;
		display: block;
		padding: 0 0 2px;

		&:before{
			font-family: 'icomoon';
			content: "\e902";
			width: 19px;
			height: 19px;
			text-align: center;
			line-height: 14px;
			font-size: 6px;
			color: $white;
			border-radius: 100%;
			background: $green;
			display: inline-block;
			vertical-align: middle;
			margin: 0 7px 0 0;
			padding: 3px;

			@include media('>=tablet') {
				margin: 0;
				position: absolute;
				right: 0;
				top: calc(50% - 10px);
			}
		}

		@include media('>=tablet') {
			font-size: 17px;
			position: relative;
			padding: 0 26px 5px 0;
		}
	}

	.help-text {
		display: block;
		color: $secondary-text-color;
	}

	.file-upload {
		.help-text {
			font-size: $secondary-size-base;
		}
	}

	.upload-btn {
		font-weight: 500;
		cursor: pointer;
		color: $purple;
		padding: 9px 18px;
		margin: 0 0 9px;
		border: 1px solid $lines-light-gray;
		border-radius: $base-border-radius;
		display: inline-block;
		vertical-align: top;
		transition: background $animation-speed;

		&:hover {
			background: rgba($lines-light-gray, 0.3);
		}

		@include media('>=tablet') {
			font-size: $secondary-size-base;
			padding: 7px 12px;
		}
	}
}