.notification-wrap {
	min-width: 80%;
	max-width: 550px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&.lg-width {
		@include media('>=tablet') {
			min-width: 686px;
		}
	}

	@include media('>=tablet') {
		text-align: right;
		min-width: 604px;
		transform: translate(0);
		top: auto;
		left: auto;
		bottom: 50px;
		right: 50px;
		padding: 22px 26px 22px 30px;
		overflow: hidden;
	}

	.notification + .notification {
		margin-top: 15px;
	}
}

.notification {
	background: $purple;
	border-radius: 13px;
	padding: 22px 30px 21px 30px;
	color: $white;
	font-size: $secondary-size-base;
	line-height: 1.65;
	width: auto;
	text-align: left;

	&.small-font {
		font-size: $secondary-size-base;
	}

	&.md {
		@include media('>=tablet') {
			max-width: 459px;
		}
	}

	&.xs {
		@include media('>=tablet') {
			max-width: 329px;
		}
	}

	@include media('>=tablet') {
		@include flex-horizontal-align;
		justify-content: space-between;
		float: right;
	}

	.notification-btn + .notification-btn {
		margin: 0;

		@include media('>=tablet') {
			margin: 0 0 0 12px;
		}
	}

	p {
		margin: 0 10px 10px 0;
		font-size: $secondary-size-base;
		@include media('>=tablet') {
			margin: 0 25px 0 0;
			font-size: $secondary-size-base;
		}
	}

	strong {
		font-weight: 700;
	}
}