.pagination-frame {
	@include media('>=tablet') {
		@include flex-horizontal-align;
		justify-content: space-between;
	}

	.pagination-nav {
		@include flex-horizontal-align;
		justify-content: space-between;
		padding: 0 0 27px;

		@include media('>=tablet') {
			padding: 0;
		}
	}

	.pagination-list {
		display: inline-block;
		vertical-align: middle;
		padding: 0 24px;

		@include media('>=tablet') {
			padding: 0 22px 0 0;
		}
	}

	.btn-next,
	.btn-prev {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		color: $purple;
		margin: 0 0 7px;
		font-size: 0;
		line-height: 0;

		&:after {
			font-size: 20px;
			content: "\e91e";
			font-family: 'icomoon';
			display: inline-block;
			vertical-align: middle;
			transform: scale(-1);
			transition: padding $animation-speed;

			@include media('>=tablet') {
				font-size: 8px;
				margin: 0 0 0 9px;
			}
		}

		&:hover {
			&:after {
				padding: 0 0 0 12px;
			}
		}

		@include media('>=tablet') {
			font-size: $font-size-base;
			font-size: $line-height-base;
			font-weight: 500;
			margin: 0;
		}
	}

	.btn-prev {
		&:after {
			transform: scale(1);
		}
	}

	.open-close {
		font-weight: 500;
	}

	.has-arrow {
		&:after {
			content: "\e903";
			font-size: 5px;
			margin: 0 0 0 6px;

			@include media('>=tablet') {
				margin: 0 0 0 6px;
			}
		}
	}

	.pages-wrap {
		@include flex-horizontal-align;
		justify-content: center;

		@include media('>=tablet') {
			flex-direction: row-reverse;
			justify-content: flex-start;
		}

		.open-close {
			.slide {
				@include media('<tablet') {
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}

	.сustomize-table {
		display: inline-block;
		vertical-align: top;
		font-weight: normal;
		padding: 0 0 0 15px;

		@include media('>=tablet') {
			padding: 0 29px 0 0;
		}

		.opener {
			color: $purple;
		}
	}
}

.pagination-list {
	@extend %listreset;
	font-size: $medium-font-size;
	font-weight: 700;
	color: $secondary-text-color;

	@include media('>=tablet') {
		font-weight: 500;
	}

	li {
		display: inline-block;
		vertical-align: top;

		&.active {
			a {
				background: $bg-light-gray;
				color: $purple;
			}
		}

		a:hover {
			background: $bg-light-gray;
			color: $purple;
		}
	}

	a {
		color: inherit;
		text-decoration: none;
		padding: 5px 10px 6px;
		background: transparent;
		border-radius: 4px;
		display: block;
		transition: background $animation-speed, color $animation-speed;

		@include media('>=tablet') {
			padding: 6px 11px 7px;
		}
	}

	span {
		padding: 6px 11px 8px;
		display: block;
		@include media('>=tablet') {
			padding: 6px 13px 7px;
		}
	}
}