.report-table {
	width: 100%;
	min-width: 1105px;
	line-height: 1.3;
	margin: 0 0 39px;

	@include media('>=tablet')  {
		min-width: 1246px;
		line-height: 1.2;
		margin: 0;
	}

	thead {
		color: $secondary-text-color;

		tr {
			border-bottom: none;
		}

		th {
			font-weight: 500;
			padding: 14px 0 23px;
			white-space: nowrap;

			&:first-child {
				padding-left: 29px;

				@include media('>=tablet') {
					padding-left: 15px;
				}
			}

			@include media('>=tablet') {
				padding: 34px 4px;
			}
		}

		.simplebox {
			color: $secondary-text-color;
			font-size: 17px;
			transition: color $animation-speed;
			&:hover {
				color: $base-text-color;
			}
		}
	}

	tr {
		border-bottom: 1px solid $lines-light-gray;

		&.sumary-row {
			background: $bg-light-gray;
			border: none;

			td, th {
				font-weight: 500;
				padding-top: 13px;
				padding-bottom: 12px;

				&:first-child {
					font-weight: 500;
				}

				@include media('>=tablet') {
					padding-top: 11px;
					padding-bottom: 12px;
				}
			}
		}
	}

	td, th {
		padding: 13px 4px 9px;
		white-space: normal;
		width: 10.5%;
		text-align: center;

		&:first-child {
			width: 16%;
			text-align: left;
			padding-left: 29px;

			@include media('>=tablet') {
				font-size: $medium-font-size;
				padding-left: 19px;
				width: 22%;
			}
		}

		&:last-child {
			width: 0;
			min-width: 18px;
			text-align: right;
			padding-right: 1px;

			@include media('>=tablet') {
				width: 2%;
			}
		}

		@include media('>=tablet') {
			padding: 18px 4px 19px;
			white-space: nowrap;
			width: 9.5%;
		}
	}
}

.sorting-cell {
	color: $base-text-color;
	cursor: pointer;
	font-weight: 500;

	&.up {
		&:before {
			transform: scaleY(-1);
		}
	}

	&.down {
		&:before {
			transform: scaleY(1);
		}
	}

	&:before {
		content: "\e93f";
		font-family: 'icomoon';
		margin: 0 7px 0 0;
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		transition: transform $animation-speed;
	}
}

.player-table {
	padding: 11px 0 0;

	@include media('>=tablet') {
		padding: 0;
	}

	.table-head {
		font-weight: 500;

		@include media('<tablet') {
			display: none;
		}

		.table-row {
			@include media('>=tablet') {
				padding: 16px 0 27px;
				border-bottom: none;
			}

			.table-cell {

				@include media('>=tablet') {
					min-height: 0;
				}

				&:first-child {
					color: $secondary-text-color;
					font-size: $font-size-base;
				}

				&:nth-child(2) {
					@include media('>=tablet') {
						font-size: $font-size-base;
					}

					@include media('>=desktop') {
						padding-left: 0;
					}
				}
			}
		}
	}

	.table-row {
		background: $bg-light-gray;
		border-radius: 18px;
		padding: 29px 27px 23px;
		margin: 0 0 21px;
		position: relative;

		&:last-child,
		&:nth-last-child(2),
		&:only-child {
			.open-close {
				&.active {
					.slide {
						pointer-events: auto;
					}
				}

				.slide {
					@include media('<desktop') {
						top: auto;
						bottom: 100%;
						pointer-events: none;
					}
				}
			}
		}

		&:last-child {
			.open-close {
				.slide {
					top: auto;
					bottom: 100%;
					pointer-events: none;
				}
			}
		}

		@include media('>=tablet') {
			@include flex-horizontal-align;
			margin: 0;
			background: transparent;
			border-radius: 0;
			padding: 10px 0;
			border-bottom: 1px solid $lines-light-gray;
		}

		.table-cell {
			
			@include media('>=tablet') {
				@include flex-horizontal-align;
				padding: 0 5px;
				min-height: 56px;
			}

			&:first-child {
				color: $secondary-text-color;
				position: absolute;
				top: 33px;
				right: 27px;

				@include media('>=tablet') {
					color: $base-text-color;
					position: static;
					padding-left: 0;
					width: 7.2%;
					font-size: $secondary-size-base;
				}
			}

			&:nth-child(2) {
				min-height: 68px;
				font-size: 17px;
				font-weight: 500;
				padding: 0 70px 10px 0;
				line-height: 1.3;

				@include media('>=tablet') {
					min-height: 0;
					line-height: 1.2;
					padding: 0 5px;
					width: 62.3%;
					font-size: $medium-font-size;
				}

				@include media('>=desktop') {
					padding-left: 15px;
				}
			}

			&:nth-child(3) {
				padding: 0 0 10px;

				@include media('>=tablet') {
					padding: 0 5px;
					width: 15.5%;
					min-width: 170px;
					white-space: nowrap;
				}

				.icon-info-icon {
					@include media('<tablet') {
						margin: 0 0 0 -2px;
						font-size: 12px;
					}
				}
			}

			&:nth-child(4) {
				@include flex-horizontal-align;
				padding-right: 30px;
				margin: 0 0 0 -5px;
				position: relative;

				@include media('>=tablet') {
					justify-content: flex-end;
					width: 15%;
					padding-right: 0;
					margin: 0;
				}

				.open-close {
					.slide {
						@include media('>=tablet') {
							right: -10px;
							left: auto;
						}
					}
				}
			}

			.btn-code-small,
			.btn-edit,
			.btn-del {
				width: 32px;
				height: 32px;
				background: $btn-table-color;

				@include media('<tablet') {
					background: transparent;
					width: 28px;
					height: 28px;
				}
			}

			.btn-edit {
				&:before {
					@include media('<tablet') {
						font-size: 19px;
					}
				}
			}

			.btn-del {
				@include media('<tablet') {
					position: absolute;
					right: -9px;
					top: 3px;
					font-size: 19px;
				}
			}
		}
	}
}

.partner-report-table,
.referral-table {
	font-size: $medium-font-size;
	padding: 16px 0 30px;

	@include media('>=desktop') {
		padding: 0 0 26px;
	}

	@include media('>=tablet') {
		font-size: $large-font-size;
	}

	.table-head {
		color: $secondary-text-color;
		font-weight: 500;
		font-size: $font-size-base;

		@include media('<tablet') {
			display: none;
		}

		.table-cell {
			&:nth-child(3) {
				@include media('>=tablet') {
					justify-content: flex-start;
				}
			}

			&.align-right,
			&:nth-child(3).align-right {
				@include media('>=tablet') {
					justify-content: flex-end;
				}
			}

			@include media('>=tablet') {
				min-height: 0;
				padding: 20px 5px;
			}
		}
	}

	.table-row {
		position: relative;
		padding: 12px 79px 16px 29px;
		margin: 0 -29px;
		border-bottom: 1px solid $lines-light-gray;

		&:last-child {
			border-bottom: none;
		}

		@include media('>=tablet') {
			display: flex;
			padding: 0;
			margin: 0;
		}
	}

	.table-cell {
		padding: 4px 0;

		&:first-child {
			@include media('>=tablet') {
				width: 25.2%;
				min-width: 250px;
				font-weight: 500;
				padding-left: 0;
			}
		}

		&:nth-child(2) {
			font-size: $font-size-base;
			color: $secondary-text-color;

			@include media('>=tablet') {
				flex: 1 0;
				font-size: $medium-font-size;
				color: $base-text-color;
			}
		}

		&:nth-child(3) {
			position: absolute;
			top: 50%;
			right: 27px;
			transform: translateY(-54%);
			text-align: right;

			@include media('>=tablet') {
				min-width: 250px;
				position: static;
				transform: translateY(0);
				text-align: right;
				justify-content: flex-end;
			}

			.number {
				@include media('>=tablet') {
					font-weight: 500;
				}
			}
		}

		@include media('>=tablet') {
			@include flex-horizontal-align;
			min-height: 64px;
			padding: 5px;
		}
	}

	.progress-bar-frame {
		padding: 7px 0 0;

		@include media('>=tablet') {
			@include flex-horizontal-align;
			padding: 0 0 0 32px;
		}

		.label {
			padding: 0;
		}

		.progress-bar {
			margin: 0 0 0 7px;
			height: 4px;
			width: 108px;
			background: $secondary-light-gray;
			border-radius: 2em;
			position: relative;

			@include media('<tablet') {
				display: none;
			}

			.progress {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				background: $purple;
				border-radius: 2em;
			}
		}
	}

	.badge {
		display: inline-block;
		vertical-align: top;
		background: #d4f8e3;
		border-radius: 9px;
		color: $green;
		padding: 7px 8px;
		font-weight: 500;
		font-size: $medium-font-size;
	}
}

.referral-table {

	@include media('>=desktop') {
		padding: 0 0 66px;
	}

	.table-row {
		@include media('<tablet') {
			padding: 10px 120px 15px 29px;
		}
	}

	.table-cell {

		&:last-child {
			@include media('>=tablet') {
				padding-right: 0;
			}
		}

		@include media('<tablet') {
			padding: 2px 0;
		}

		@include media('>=tablet') {
			min-height: 69px;
		}
	}
}

.payments-table {
	padding: 0 0 38px;
	min-width: 1070px;
	line-height: 1.4;

	@include media('>=tablet') {
		line-height: 1.2;
	}

	.table-row {
		@include flex-horizontal-align;
		border-bottom: 1px solid $lines-light-gray;
		margin: 0 -5px;
	}

	.table-head {
		font-size: $font-size-base;
		color: $secondary-text-color;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
		}

		.table-row {
			border-bottom: none;
		}

		.table-cell {
			min-height: 0;
			padding: 14px 0;
			font-weight: 500;
			font-size: $font-size-base;

			@include media('>=tablet') {
				padding: 28px 4px 40px;
			}
		}
	}

	.table-cell {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		padding: 12px 5px 5px;
		min-height: 61px;

		&:first-child {
			width: 14.5%;
			@include media('>=tablet') {
				width: 17.8%;
			}
		}

		&:nth-child(2) {
			width: 12.5%;
			@include media('>=tablet') {
				width: 12.2%;
			}
		}

		&:nth-child(3) {
			width: 10%;
			@include media('>=tablet') {
				width: 10%;
			}
		}

		&:nth-child(4) {
			width: 12%;
			@include media('>=tablet') {
				width: 14%;
			}
		}

		&:nth-child(5) {
			width: 37%;
			@include media('>=tablet') {
				width: 33%;
			}
		}

		&:nth-child(6) {
			width: 15%;
			padding-right: 7px;
			justify-content: flex-end;
			@include media('>=tablet') {
				width: 13%;
			}
		}

		&.sorting-cell {
			&:before {
				@include media('<tablet') {
					margin: 3px 5px 0;
				}
			}
		}

		@include media('>=tablet') {
			padding: 3px 5px 12px;
			min-height: 62px;
		}
	}

	img {
		margin: 0 14px 0 0;
		@include media('<desktop') {
			width: auto;
		}
	}

	a {
		color: inherit;
	}

	.status-badge {
		display: inline-block;
		vertical-align: top;
		color: $white;
		padding: 8px 14px;
		text-align: center;
		background: #42D49F;
		border-radius: 2em;
		font-size: $secondary-size-base;

		&.in-progress {
			background: #f8af21;
		}
	}

	.time {
		@include media('<tablet') {
			display: block;
		}
	}
}

.user-table {
	padding: 23px 0 60px;

	@include media('>=tablet') {
		padding: 0 0 60px;
		font-size: $secondary-size-base;
	}

	@include media('>=desktop') {
		font-size: $font-size-base;
	}

	.table-row {
		@include flex-horizontal-align;
		flex-wrap: wrap;
		position: relative;
		background: $bg-light-gray;
		border-radius: 18px;
		padding: 31px 25px 27px;
		margin: 0 0 21px;

		@include media('>=tablet') {
			border-bottom: 1px solid $lines-light-gray;
			margin: 0 -5px;
			padding: 0;
			background: transparent;
			border-radius: 0;
		}
	}

	.table-head {
		font-size: $secondary-size-base;
		color: $secondary-text-color;

		@include media('>=desktop') {
			font-size: $font-size-base;
		}

		@include media('<tablet') {
			display: none;
		}

		.table-row {
			border-bottom: none;
		}

		.table-cell {
			min-height: 0;
			padding: 14px 0 12px;
			font-weight: 500;

			&:first-child,
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6) {
				padding: 14px 0 12px;
				
				@include media('>=tablet') {
					padding: 29px 4px 24px;
				}
			}
		}
	}

	.table-cell {

		&:first-child {
			width: 100%;
			font-size: 17px;
			padding: 0 60px 5px 0;

			@include media('>=tablet') {
				padding: 6px 5px 14px;
				width: 25%;
				font-size: $font-size-base;
			}

			@include media('>=widescreen') {
				width: 19.7%;
			}

			@include media('<tablet') {
				order: 1;
			}
		}

		&:nth-child(2) {
			width: 100%;
			font-size: $medium-font-size;
			padding: 0 0 10px;

			@include media('>=tablet') {
				padding: 6px 5px 14px;
				width: 27%;
				font-size: $secondary-size-base;
			}

			@include media('>=desktop') {
				font-size: $font-size-base;
			}

			@include media('>=widescreen') {
				width: 18.4%;
			}

			@include media('<tablet') {
				order: 3;
			}
		}

		&:nth-child(3) {
			width: 100%;
			padding: 0 60px 22px 0;

			@include media('>=tablet') {
				width: 12%;
				padding: 6px 5px 14px;
			}

			@include media('>=widescreen') {
				width: 10%;
			}

			@include media('<tablet') {
				order: 2;
			}
		}

		&:nth-child(4) {
			width: 100%;
			font-size: $medium-font-size;
			padding: 0 0 13px;

			@include media('>=tablet') {
				width: 13%;
				font-size: $font-size-base;
				padding: 6px 5px 14px;
			}

			@include media('>=widescreen') {
				width: 12.5%;
			}

			@include media('<tablet') {
				order: 4;
			}
		}

		&:nth-child(5) {
			width: 50%;

			@include media('>=tablet') {
				width: 11%;
			}

			@include media('>=widescreen') {
				width: 24.4%;
			}

			@include media('<tablet') {
				order: 5;
			}
		}

		&:nth-child(6) {
			width: 50%;
			justify-content: flex-end;

			@include media('>=tablet') {
				width: 12%;
				padding-right: 0;
			}

			@include media('>=widescreen') {
				width: 15%;
			}

			@include media('<tablet') {
				order: 6;
			}
		}

		&.sorting-cell {
			&:before {
				content: "\e926";
				margin: 4px 6px 0 0;
				font-size: 9px;
			}
		}

		@include media('>=tablet') {
			@include flex-horizontal-align;
			padding: 6px 5px 14px;
			min-height: 81px;
		}
	}

	.img-box {
		width: 49px;
		height: 49px;
		border-radius: 100%;
		overflow: hidden;
		position: absolute;
		top: 24px;
		right: 27px;

		img {
			width: 100%;
		}

		@include media('>=tablet') {
			width: 46px;
			height: 46px;
			margin: 0 17px 0 0;
			position: static;
		}
	}

	.user-status {
		position: relative;

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin: 0 6px 0 0;
			border-radius: 100%;
			width: 6px;
			height: 6px;
		}

		&.active {
			&:before {
				background: -webkit-linear-gradient(#33CE9B 0%, #54DBA4 100%);
				background: -o-linear-gradient(#33CE9B 0%, #54DBA4 100%);
				background: linear-gradient(#33CE9B 0%, #54DBA4 100%);
			}
		}

		&.inactive {
			&:before {			
				background: #ff6a6a;
				color: $secondary-text-color;
			}
		}
	}

	.user-btn {
		@include flex-horizontal-align;
		justify-content: flex-end;

		.btn-edit,
		.btn-del {
			@include media('<tablet') {
				width: 22px;
				height: 22px;
				color: $base-text-color;
				font-size: 19px;
				margin: 0;
				background: transparent;
			}
		}

		.btn-del {
			@include media('<tablet') {
				margin: 0 -3px 0 10px;
			}
		}
	}

	.email {
		text-decoration: none;
		color: $base-text-color;
		transition: opacity $animation-speed;

		&:hover {
			opacity: 0.7;
		}

		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}

	.name {
		font-weight: 500;

		&.lead {
			&:after {
				font-family: 'icomoon';
				content: "\e939";
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 7px;
				color: $light-red;
				font-size: 12px;

				@include media('>=tablet') {
					font-size: 6px;
					margin: 0 0 2px 7px;
				}
			}
		}

		@include media('>=tablet') {
			flex: 1 0;
		}
	}

	.list-inline {
		margin: 0 -3px;
		 li {
		 	padding: 0 3px;
		 }
	}
}