// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

form {
	label,
	.check-all-label {
		position: relative;
		line-height: 1.6;

		.fake-input,
		.check-all {
			position: absolute;
			top: 1px;
			left: 0;
		}

		.fake-label {
			display: inline-block;
			vertical-align: top;
			padding-left: 32px;
			cursor: pointer;

			@include media('>=tablet') {
				padding-left: 26px;
			}
		}
	}
}

input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='url'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	outline: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid $form-element-border-color;
	padding: $form-element-padding;
	color: $base-text-color;
	width: 100%;
	border-radius: 5px;
	display: block;
	height: 45px;
	background: $bg-light-gray;
	font-size: $medium-font-size;

	@include placeholder {
		color: $placeholder-color;
		font-size: $secondary-size-base;
	}

	// &:hover {

	// }

	&:focus {
		border-color: $form-element-focus-border-color;
	}
}

input[type='password'] {
	letter-spacing: 6.5px;
	@include placeholder {
		font-size: 40px;
	}
}

input[type='password'] + a {
	margin-top: 14px;

	@include media('>=tablet') {
		margin-top: 12px;
	}
}

input[type='search'] {
	border: none;
	padding: 5px 7px 5px 54px;
	outline: none;
	width: 100%;
	height: 48px;
	line-height: 1.2;
	font-size: $font-size-base;
	background: $bg-light-gray;
	border-radius: 31px;	
}

.serach-frame {
	position: relative;

	input[type='search'] {
		@include placeholder {
			color: $placeholder-color;
			font-size: 13px;
			@include media('>=tablet') {
				font-size: 13px;
			}
		}
		background: $bg-light-gray;
		height: 49px;
		font-size: 13px;
		padding-left: 63px;

		@include media('>=tablet') {
			height: 46px;
			font-size: 13px;
			padding-left: 54px;
		}
	}

	.btn-search {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 27px;

		@include media('>=tablet') {
			left: 20px;
		}
	}
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

.label {
	display: block;
	font-weight: 500;
	color: $secondary-text-color;
	padding: 0 0 9px;
	font-size: $medium-font-size;

	@include media('>=tablet') {
		font-size: $font-size-base;
	}
}


/* custom checkbox and radio styles */
input[type="checkbox"],
input[type="radio"]{
	position:fixed;
	left:-9999px;
	top:0;
	opacity:0;
	z-index: -1;
}

.fake-input,
.check-all {
	display: inline-block;
	width: 20px;
	height: 20px;
	border:1.5px solid $input-border-color;
	border-radius: $xs-border-radius;
	vertical-align: middle;
	position: relative;
	margin-right: 12px;

	@include media('>=tablet') {
		width:  18px;
		height: 18px;
		margin-right: 9px;
	}
}

.check-all {
	margin: 0;

	&:before {
		content: '';
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	&.checked {
		border-color:$purple;
		&:before {
			content:'';
			width: 6px;
			height: 2px;
			background: $purple;
			opacity: 1;
		}
	}

	&.checked-all {
		border-color:$purple;
		&:before {        
			content:"\e902";
			font-family: 'icomoon';
			font-size: 6px;
			color: $purple;
			opacity: 1;
		}
	}
}

input[type="radio"] + .fake-input {
	border-width: 1px;

	@include media('<tablet') {
		width:  23px;
		height: 23px;
	}
}

input[type="radio"] ~ .fake-label {
	padding-top: 2px;
	padding-left: 36px;
	@include media('>=tablet') {
		padding-left: 28px;
		padding-top: 0;
	}
}

input[type=radio] + .fake-input{border-radius:100%;}
 
input[type="checkbox"] + .fake-input:before{
	content:"\e902";
	font-family: 'icomoon';
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	font-size: 6px;
	color: $purple;
	opacity: 0;
}
 
input[type="radio"] + .fake-input:before{
	content:'';
	position: absolute;
	top: 6px;
	right: 6px;
	bottom: 6px;
	left: 6px;
	background: $purple;
	border-radius:100%;
	opacity: 0;

	@include media('>=tablet') {
		top: 4px;
		right: 4px;
		bottom: 4px;
		left: 4px;
	}
}

input[type="checkbox"]:checked + .fake-input {border-color:$purple;}

input[type="radio"]:checked + .fake-input:before,
input[type="checkbox"]:checked + .fake-input:before{opacity:1;}
 
input[type="radio"]:checked ~ .fake-label,
input[type="checkbox"]:checked ~ .fake-label {font-weight:500;}
 
input:disabled + .fake-input,
input:disabled ~ .fake-label{opacity: .5;}


/* switch input styles */

.switch-frame {
	@include flex-horizontal-align;
	justify-content: space-between;

	&.mob-reverse {
		@include media('<tablet') {
			flex-direction: row-reverse;
			align-items: flex-start;
		}

		.switch {
			@include media('<tablet') {
				margin: 0 0 0 23px;
			}
		}
	}

	&.lead {

		.fake-switch-label {
			font-size: $medium-font-size;

			@include media('>=tablet') {
				font-size: $medium-font-size;
			}
		}
	}

	@include media('>=tablet') {
		justify-content: flex-start;
	}

	.switch {
		margin: 0 12px 0 0;
	}

	.fake-switch-label {
		font-weight: 500;
		font-size: $medium-font-size;
		flex: 1 0;

		&.base-color {
			color: $base-text-color;
		}

		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}

	.fake-switch-label + .icon-info-icon {
		margin: 0 0 0 1px;
	}

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.clickable-switch {
		@include flex-horizontal-align;
		cursor: pointer;

		&.mob-reverse {
			@include media('<tablet') {
				flex-direction: row-reverse;
				align-items: flex-start;
				width: 100%;
			}
		}
	}

	input[type="checkbox"]:checked + .slider,
	input[type="checkbox"]:checked + .switch .slider {
		background-color: $purple;
	}

	input[type="checkbox"]:focus + .slider,
	input[type="checkbox"]:focus + .switch .slider {
		box-shadow: 0 0 1px $purple;
	}

	input[type="checkbox"]:checked + .slider .circle,
	input[type="checkbox"]:checked + .switch .slider .circle {
		background: $white;
		transform: translateX(12px);

		@include media('>=tablet') {
			transform: translateX(11px);
		}
	}

	input[type="checkbox"]:checked + .slider .circle:before,
	input[type="checkbox"]:checked + .switch .slider .circle:before {
		background: $purple;
	}
	
	.fake-switch-label {
		color: $secondary-text-color;
		&.on {
			color: $base-text-color;
			display: none;
		}
	}

	input[type="checkbox"]:checked ~ .fake-switch-label {
		&.on {
			display: block;
		}

		&.off {
			display: none;
		}
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 20px;

	@include media('>=tablet') {
		width: 27px;
		height: 16px;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $lines-light-gray;
		border-radius: 18px;
		transition: all $animation-speed;

		.circle {
			position: absolute;
			height: 11px;
			width: 11px;
			left: 5px;
			bottom: 5px;
			background: $secondary-text-color;
			transition: all $animation-speed;
			border-radius: 50%;

			&:before{
				content: "";
				position: absolute; 
				top: 3px;
				left: 3px;
				right: 3px;
				bottom: 3px;
				border-radius: 50%;
				background: $lines-light-gray;
				transition: all $animation-speed;

				@include media('>=tablet') {
					top: 2px;
					left: 2px;
					right: 2px;
					bottom: 2px;
				}
			}

			@include media('>=tablet') {
				height: 8px;
				width: 8px;
				left: 4px;
				bottom: 4px;
			}
		}
	}
}

/* input with currency styles */

.input-has-currency {
    position: relative;

    .currency {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        color: $secondary-text-color;
    }

    input[type='text'],
    input[type='number'],
    input[type='tel'],
    input[type='email'],
    input[type='search'],
    input[type='password'] {
        width: 100%;
        padding-right: 35px;
        font-size: $font-size-base;
    }
}

/* input with color selection styles */

.input-color-selection {
    position: relative;
    overflow: hidden;

    .color-frame {
        position: absolute;
        top: 1px;
        bottom: 1px;
        right: 1px;
        border-radius: 0 5px 5px 0;
        width: 44px;
        background: $white;
        padding: 12px;

        @include media('>=tablet') {
        	padding: 13px;
        }

        .color-box {
        	width: 100%;
        	height: 100%;
        	display: inline-block;
        	vertical-align: middle;
        	border-radius: 2px;
        	cursor: pointer;
        }
    }

    input[type='text'],
    input[type='number'],
    input[type='tel'],
    input[type='email'],
    input[type='search'],
    input[type='password'] {
        width: 100%;
        padding-right: 35px;
        font-size: $font-size-base;
    }
}


/* input with badge styles */

.input-has-badge {
    position: relative;

    .badge-list {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 14px;
        color: $secondary-text-color;

        @include media('>=tablet') {
        	right: 9px;
        }
    }

    input[type='text'],
    input[type='number'],
    input[type='tel'],
    input[type='email'],
    input[type='search'],
    input[type='password'] {
        width: 100%;
        padding-right: 82px;
        font-size: $font-size-base;
    }
}

/* custom file upload styles */
.custom-file-upload {
	@include flex-horizontal-align;
	text-align: left;
	cursor: pointer;
	border: 4px solid $lines-light-gray;
	border-radius: 18px;
	padding: 6px 26px;
	min-width: 310px;
	max-width: 395px;
	width: 100%;
	height: 86px;
	color: $purple;
	font-weight: 500;
	margin: 0 0 18px;
	transition: background $animation-speed;

	&:hover {
		background: rgba($lines-light-gray, 0.25);
	}

	@include media('>=tablet')  {
		flex-flow: column nowrap;
		justify-content: center;
		text-align: center;
		width: 395px;
		height: 260px;
		border-width: 10px;
		border-radius: 25px;
		font-size: $secondary-size-base;
		color: $base-text-color;
		margin: 0 0 24px;
	}

	input[type="file"] {
		position:fixed;
		left:-9999px;
		top:0;
		opacity:0;
		z-index: -1;
	}

	img {
		margin: 0 24px 0 0;
		@include media('>=tablet') {
			margin: 0 0 37px;
			width: 67px;
		}
	}
}

.upload-btn {
	input[type="file"] {
		position:fixed;
		left:-9999px;
		top:0;
		opacity:0;
		z-index: -1;
	}
}

.add-document {
	@include flex-central-align;
	cursor: pointer;
	flex-flow: column nowrap;
	width: 100%;
	min-height: 141px;
	font-weight: 500;

	&:hover {
		@include media('>=tablet') {
			background: rgba($lines-light-gray, 0.2);
			color: $purple;
		}
	}

	@include media('>=600px') {
		min-height: 164px;
		width: calc(50% - 28px);
		border: 6px solid $lines-light-gray;
		border-radius: 18px;
		margin: 0 14px;
		font-size: $secondary-size-base;
		transition: color $animation-speed, background $animation-speed;
	}

	@include media('>=desktop') {
		width: calc(33.33% - 28px);
		margin: 0 14px 28px;
	}

	@include media('>=widescreen') {
		width: calc(25% - 28px);
	}

	@include media('>=1500px') {
		width: 290px;
	}

	input[type="file"] {
		position:fixed;
		left:-9999px;
		top:0;
		opacity:0;
		z-index: -1;
	}

	img {
		margin: 0 0 15px;

		@include media('>=600px') {
			margin: 0 0 20px;
		}
	}
}

.add-item {
	cursor: pointer;

	input[type="file"] {
		position:fixed;
		left:-9999px;
		top:0;
		opacity:0;
		z-index: -1;
	}
}