.action-window {
	min-height: calc(100vh - 134px);
	padding-bottom: 100px;

	&.btn-bottom {
		@include media('>=tablet') {
			padding-bottom: 100px;
			position: relative;
		}

		.button-frame {
			&.payment-button {
				@include media('>=tablet') {
					justify-content: flex-start;
					bottom: 33px;
				}

				.btn {
					@include media('>=tablet') {
						font-size: $font-size-base;
					}
				}
			}

			@include media('>=tablet') {			
				padding: 0;
				position: absolute;
				bottom: 10px;
				left: 0;
				width: 100%;
				justify-content: space-between;
			}

			.btn {
				font-size: $large-font-size;

				@include media('>=tablet') {
					font-size: $medium-font-size;
				}
			}
		}
	}

	&.edit-page {
		@include media('<tablet') {
			padding-bottom: 170px;
		}

		.button-frame {
			@include media('<tablet') {
				flex-wrap: wrap;
				align-items: stretch;
			}

			.btn {
				&.btn-base-font-color {
					@include media('<410px') {
						padding-left: 10px;
						padding-right: 40px;
					}
				}
			}
		}
	}

	&.api-page {
		padding-bottom: 0;

		.action-caption {
			padding: 5px 0 28px;

			@include media('>=tablet') {
				padding: 9px 0 46px
			}
		}

		.action-title {
			.btn-back {
				@include media('>=tablet') {
					margin: 0 19px 0 0;
				}
			}
		}

		.action-content {		
			@include media('>=tablet') {
				display: flex;
				flex-direction: row-reverse;
				align-items: flex-start;
			}
		}

		.text-block {
			@include media('>=tablet') {
				flex: 1 0;
			}
		}

		h3 {
			font-size: 17px;
			font-weight: 500;
			margin: 0 0 38px;

			@include media('>=tablet') {
				font-size: 17px;
				margin: 0 0 45px;
			}
		}

		p {
			font-size: $font-size-base;

			@include media('>=tablet') {
				font-size: $medium-font-size;
			}

			@include media('>=widescreen') {
				margin-right: 15%
			}
		}

		p + h3,
		p + .h3 {
			padding-top: 25px;

			@include media('>=tablet') {
				padding-top: 47px;
			}
		}
	}

	&.mob-no-indent {
		@include media('<tablet') {
			padding-bottom: 0;
		}
	}

	&.user-page {
		.action-caption {
			position: relative;
			padding: 6px 25px 24px 0;
			@include media('>=tablet') {
				padding: 0 0 67px;
			}

			.btn-back {
				&:before {
					@include media('<tablet') {
						content: "\e91b";
					}
				}
				@include media('<tablet') {
					position: absolute;
					top: 7px;
					right: -12px;
					margin: 0;
				}
			}
		}

		.action-content {
			.form-row {
				@include media('>=tablet') {
					padding: 0 0 20px;
				}
			}
		}

		.switch-row {
			padding: 10px 0;
		}

		.switch-frame {
			padding: 2px 15px 0 0;

			@include media('>=tablet') {
				padding: 0;
			}
		}

		.fake-switch-label {
			font-size: $medium-font-size;

			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}
		}

		.help-text {
			font-size: $medium-font-size;
			line-height: 1.5;
			padding: 8px 0 0;

			@include media('>=tablet') {
				font-size: $secondary-size-base;
				padding: 11px 0 0;
			}
		}
	}

	@include media('>=tablet') {
		min-height: calc(100vh - 211px);
		padding-bottom: 0;
	}
}

.action-caption {
	@include flex-horizontal-align;
	padding: 5px 0 52px;

	&.pb-sm {
		padding-bottom: 43px;
		@include media('>=tablet') {
			padding-bottom: 75px;
		}
	}

	&.pb-md {
		padding-bottom: 54px;
		@include media('>=tablet') {
			padding-bottom: 75px;
		}
	}

	&.py-md {
		padding-bottom: 40px;

		@include media('>=tablet') {
			padding-top: 17px;
			padding-bottom: 59px;
		}
	}

	&.has-steps {
		display: block;
		padding: 6px 0 52px;

		@include media('>=tablet') {
			padding: 3px 0 79px 2px;
		}

		@include media('>=desktop') {
			@include flex-horizontal-align;
			justify-content: space-between;
		}

		.btn-back {
			margin: 2px 5px 0 -10px;

			@include media('>=tablet') {
				margin: 0px 20px 0 -3px;
			}
		}

		.action-title {
			padding: 0 0 24px;
			@include media('>=tablet') {
				padding: 0;
			}
		}
	}

	&.second-layout {
		padding: 5px 0 35px;

		@include media('>=tablet') {
			padding: 4px 0 86px;
		}
	}

	@include media('>=tablet') {
		padding: 2px 0 95px 4px;
	}
}

.action-title {
	display: flex;
	align-items: flex-start;

	&.has-help-link {
		align-items: flex-start;

		@include media('>=tablet')  {
			align-items: flex-start;
		}

		.btn-back {
			@include media('>=tablet') {
				margin-top: -9px;
			}
		}
	}

	@include media('>=tablet') {
		align-items: center;
	}

	h2 {
		margin: 0;

		.help-title-link {
			display: block;
			font-size: $font-size-base;
			font-weight: $base-font-weight;
			padding: 7px 0 0;

			@include media('>=tablet') {
				padding: 11px 0 0;
			}
		}

		.link-color {
			@include media('<tablet')  {
				color: $base-text-color;
			}
		}
	}

	.btn-back {
		margin: 2px 11px 0 -4px;
		height: 26px;
		@include media('>=tablet') {
			margin: 0 15px 0 0;
			height: 41px;
		}
	}
}

.step-frame {
	margin: 0 -9px;
	@include media('>=tablet') {
		padding: 17px 0 0 15px;
	}

	@include media('>=desktop') {
		margin: 0 -10px 0 0;
	}
}

.action-content {

	&.pb-md {
		padding: 0;
		@include media('>=tablet') {
			padding: 0 0 47px;
		}
	}

	&.pb-lg {
		padding: 0 0 40px;
		@include media('>=tablet') {
			padding: 0 0 62px;
		}
	}

	.url-input {
		position: relative;

		.copy-url {
			background: none;
			border:none;
			outline: none;
			padding: 0;
			cursor: pointer;
			position: absolute;
			right: 13px;
			bottom: 14px;
			font-size: 13px;
			color: $purple;
			transition: color $animation-speed;

			&:before{
				font-family: 'icomoon';
				content: "\e940";
			}

			&:hover {
				color: $base-text-color;
			}
		}

		input[type='url'] {
			padding-right: 30px;
		}
	}

	.open-close-title {
		display: block;
		font-weight: 500;
		padding: 0 0 10px;
		font-size: 15px;

		@include media('>=tablet') {
			color: $secondary-text-color;
			font-size: $font-size-base;
		}
	}

	.button-frame {
		@include flex-horizontal-align;
		justify-content: flex-start;
		position: static;
		padding: 45px 0 0;

		&.pt-lg {
			padding-top: 75px;
		}

		.btn-next-block {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin: 0 0 15px;

			@include media('>=tablet') {
				flex: 1 0;
				margin: 0 18px 0 0;
			}
		}

		@include media('<tablet') {
			position: absolute;
			bottom: 36px;
			left: 30px;
			right: 30px;
			padding: 0;
		}

		.btn,
		.submit {

			&:only-child {			
				@include media('<tablet') {
					width: 100%;
				}
			}

			@include media('<tablet') {
				flex: 1 0;
			}

			&.has-plus,
			&.has-checkmark {
				&:before {
					@include media('<tablet') {
						display: none;
					}
				}
			}
		}

		.btn + .btn,
		.submit + .btn {
			@include media('>=tablet') {
				margin: 0 0 0 18px;
			}
		}

		.step-back {
			margin: 0 12px 0 0;

			@include media('>=tablet') {
				font-size: $medium-font-size;
			}
		}
	}

	.form-row {
		padding: 0 0 21px;

		@include media('>=tablet') {
			padding: 0 0 28px;
		}

		.btn-clear {
			margin: 0 0 0 12px;

			@include media('>=tablet') {
				margin: 0 0 0 16px;
			}
		}

		.align-row {
			@include flex-horizontal-align;

			.input-group {
				flex: 1 0;
			}
		}

		.checkbox {
			padding: 24px 0 0;

			@include media('>=tablet') {
				padding: 20px 0 0;
			}
		}
	}

	.sm-form-row {
		padding: 0 0 34px;

		&.pb-sm-mob {
			@include media('<tablet') {
				padding-bottom: 24px;
			}
		}

		&.pb-md-mob {
			@include media('<tablet') {
				padding-bottom: 47px;
			}
		}

		@include media('>=tablet') {
			max-width: 184px;
			padding: 0 0 30px;
		}
	}

	.radio-form-row {
		padding: 22px 0 16px;

		@include media('>=tablet') {
			padding: 3px 0 28px;
		}
	}

	.select-payment-row {
		padding: 10px 0 5px;

		@include media('>=tablet') {
			padding: 2px 0 9px;
		}
	}

	.form-row + .add-link {
		margin: 13px 0;

		@include media('>=tablet') {
			margin: 4px 0 33px;
		}
	}

	.form-row.has-checkbox + .total-block {
		margin-top: 33px;

		@include media('>=tablet') {
			margin-top: 14px;
		}
	}

	.switch-frame {
		padding: 16px 9px 5px 0;

		&.lead {
				@include media('>=tablet') {
					padding-top: 12px;
				}
			}

		&.payment-switch {
			padding: 12px 0;
			@include media('<tablet') {
				padding: 12px 9px 10px 0;
			}

			.clickable-switch {
				@include media('<tablet') {
					flex-direction: row-reverse;
					justify-content: space-between;
					width: 100%;
				}
			}

			.fake-switch-label {
			}

			.switch {
				@include media('<tablet') {
					margin: 0 0 0 10px;
				}
			}
		}

		@include media('>=tablet') {
			padding: 18px 0 4px 2px;
		}

		.fake-switch-label {
			color: $base-text-color;
			font-weight: $base-font-weight
		}

		input[type="checkbox"]:checked ~ .fake-switch-label {
			font-weight: 500;
		}
	}

	.two-column-reverse {
		.switch-frame {
			padding: 0 0 22px;

			&.pb-sm {
				padding: 0 0 15px;

				@include media('>=tablet') {
					padding: 0 0 9px;
				}
			}

			&.pb-md-mob {
				@include media('<tablet') {
					padding-bottom: 44px;
				}
			}

			@include media('>=tablet') {
				padding: 0 0 24px;
			}

			.switch {
				width: 33px;
				height: 20px;
				margin: 0 10px 0 0;

				@include media('>=tablet') {
					width: 29px;
					height: 18px;
					margin: 0 12px 0 0;
				}
			}

			.circle {
				@include media('>=tablet') {
					height: 9px;
					width: 9px;
					left: 4px;
					bottom: 4.5px;
				}
			}

			input[type="checkbox"]:checked + .slider .circle,
			input[type="checkbox"]:checked + .switch .slider .circle {
				background: $white;
				transform: translateX(12px);

				@include media('>=tablet') {
					transform: translateX(13px);
				}
			}

			.icon-info-icon {
				margin: 0 0 0 4px;
			}
		}
	}

	.bordered-form-row {
		border: 1px solid $secondary-light-gray;
		border-radius: 14px;
		padding: 20px 27px 25px;
		margin: 16px 0 25px;
		color: $secondary-text-color;

		&.small-font {
			line-height: 1.3;
			@include media('>=tablet') {
				line-height: $line-height-base;
				font-size: $secondary-size-base;
			}
		}

		@include media('>=tablet') {
			margin: 10px 0 27px;
			padding: 21px 30px 25px;
		}

		.title {
			display: block;
			font-weight: $base-font-weight;
			font-size: $medium-font-size;
			color: $base-text-color;
			padding: 11px 0 15px;

			@include media('>=tablet') {
				padding: 2px 0 9px;
			}
		}

		.subtitle {
			display: block;
			padding: 0 0 34px;

			@include media('>=tablet') {
				padding: 0 0 28px;
			}
		}

		.form-row {
			padding: 0 0 22px;
			@include media('>=tablet') {
				padding: 0 0 23px;
			}
		}

		.align-row {
			padding: 0 0 10px;

			@include media('>=tablet') {
				width: 76.5%;
				padding: 0 0 6px;
			}

			.btn-clear {
				@include media('>=tablet') {				
					font-size: 10px;
					margin: 0 0 0 13px;
				}
			}
		}

		.form-row + .add-link {
			margin: 18px 0 3px;

			&:before{
				margin: 0 7px 0 0px;
			}

			@include media('>=tablet') {
				margin: 16px 0 6px;
			}
		}

		input[type="checkbox"]:checked ~ .fake-label {
			color: $base-text-color;
			font-weight: $base-font-weight;
		}
	}

	.three-column {
		@include media('>=tablet') {
			display: flex;
			align-items: flex-start;
			margin: 0 -6px;
		}

		.input-goup {
			padding: 0 0 22px;
			@include media('>=tablet') {
				width: 33.33%;
				padding: 0 5px;
			}
		}

		.help-text {
			padding: 9px 0 0;
			@include media('>=tablet') {
				padding: 7px 0 0;
				font-size: 12px;
			}
		}
	}

	.help-text {
		line-height: 1.6;
		display: block;
		color: $secondary-text-color;
		padding: 9px 0 0;

		&.mob-medium-font {
			@include media('<tablet') {
				font-size: $medium-font-size;
			}
		}

		@include media('>=tablet') {
			max-width: 400px;
			font-size: $secondary-size-base;
		}
	}

	h3, .h3 {
		font-weight: $base-font-weight;
		margin: 0 0 29px;

		@include media('>=tablet') {
			margin: 0 0 36px;
		}
	}
}
