.chart-frame {
	display: flex;
	flex-wrap: wrap;
	padding: 3px 0 54px;

	&.has-btn-back {

		@include media('>=tablet')  {
			padding: 0 0 41px;
		}
		.report-box {		
			@include media('<tablet') {
				position: relative;
				padding-left: 37px;
			}

			.btn-back {
				@include media('<tablet') {
					position: absolute;
					top: -4px;
					left: -9px;
					margin: 0;
					font-size: 18px;
				}
			}

			.open-close-title {
				@include media('<tablet') {
					font-size: 21px;
				}
			}
		}

		.chart-caption-btn {
			@include media('<tablet') {
				flex-direction: row;
				justify-content: flex-end;
			}

			.btn-download-bordered {
				@include media('<tablet') {
					margin: 0 0 0 5px;
				}
			}

			.open-close {
				@include media('<tablet') {
					margin: 0 -9px 0 17px;
				}		
				.opener.btn-actions-bordered {
					@include media('<tablet') {
						width: 20px;
						height: 24px;
					}
					&:before {
						@include media('<tablet') {
							content: "\e91a";
						}
					}
				}
			}
		}
	}

	@include media('>=tablet')  {
		padding: 0 0 74px;
	}

	.report-box {
		width: 69%;
		padding: 4px 10px 68px 0;

		@include media('>=tablet') {
			@include flex-horizontal-align;
		}
		@include media('>=desktop') {
			order: 1;
			padding: 0 10px 0 0;
		}

		@include media('>=widescreen') {
			padding: 0;
			width: 55.2%;
		}

		.btn-back {
			margin: 0 19px 0 0;

			@include media('<tablet') {
				background: transparent;
			}
		}

		.open-close-title {
			font-size: 22px;
			font-weight: 500;
			display: block;
			color: $base-text-color;
			padding: 0 0 7px;

			@include media('>=tablet') {
				font-size: 21px;
				padding: 0 7px 0 0;
			}
		}

		.open-close {
			.opener {
				color: $base-text-color;
				font-size: 22px;
				font-weight: normal;

				&.has-arrow {
					&:after {
						@include media('<tablet') {
							margin: 0 0 0 10px;
							font-size: 5px;
						}
					}
				}

				@include media('>=tablet') {
					font-size: 21px;
				}
			}

			.slide {
				left: -15px;
				min-width: 345px;
				padding: 29px 27px;
				@include media('>=tablet') {
					left: 0;
					min-width: 328px;
					font-size: $medium-font-size;
				}
			}

			.search-box {
				input {
					width: 91%;
				}
			}

			.list {
				@include media('>=tablet') {
					font-size: $medium-font-size;
				}

				li {
					padding: 0 0 21px;
				}
				a {
					@include media('>=tablet') {
						padding-left: 0;
					}

					&:before {
						@include media('>=tablet') {
							left: -15px;
						}
					}
				}
			}
		}
	}

	.chart-caption-btn {
		padding: 7px 0 0;
		width: 31%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: row-reverse;

		@include media('>=tablet') {
			align-items: center;
			flex-direction: row;
			justify-content: flex-end;
		}

		@include media('>=desktop') {
			width: 11%;
			padding: 3px 0 0;
			order: 3;
		}

		@include media('>=widescreen') {
			width: 8%;
			order: 4;
		}

		.open-close {
			margin: 0 10px 0 0;

			@include media('>=tablet') {
				margin: 0 0 0 10px;
			}

			.opener {
				&.btn-actions-bordered {
					color: $purple;
					&:before {
						@include media('<tablet') {
							content: "\e935";
							font-size: 19px;
						}
					}

					@include media('<tablet') {
						width: auto;
						height: auto;
						border: none;
						color: $base-text-color;
					}
				}
			}
		}

		.btn-actions,
		.btn-download-bordered {
			color: $purple;
			@include media('<tablet') {
				border: none;
				height: auto;
				width: auto;
				color: $base-text-color;
			}
		}

		.btn-download-bordered {
			@include media('<tablet') {
				font-size: 20px;
				margin: 0 0 0 9px;
			}
		}
	}

	.datepicker-open-close {
		padding: 0 0 45px;

		@include media('>=desktop') {
			width: 100%;
			order: 4;
			padding: 12px 0 0;
		}

		@include media('>=widescreen') {
			width: 22.3%;
			order: 3;
		}

		.slide {
			.slide-title {
				@include media('>=tablet') {
					flex-wrap: nowrap;
				}
			}
			.date {
				font-size: 16px;
				font-weight: 500;
				padding: 11px 10px 10px;
				white-space: nowrap;
				max-width: 138px;

				@include media('>=tablet') {
					max-width: none;
				}
			}
		}
	}

	.detail-box {
		@include flex-horizontal-align;
		width: 100%;
		padding: 0 0 10px;

		@include media('>=desktop') {
			width: 20%;
			order: 2;
			padding: 8px 0 0;
		}

		@include media('>=widescreen') {
			width: 14.5%;
		}

		.open-close-title {
			font-size: $medium-font-size;
			font-weight: 500;

			@include media('>=desktop') {
				font-size: $font-size-base;
			}
		}

		.open-close {
			display: inline-block;
			vertical-align: top;
		}

		.opener {
			font-weight: 500;
		}

		.has-arrow {
			&:after {
				content: "\e903";
				font-size: 5px;
				margin: 0 0 0 7px;
			}
		}
	}

	.chart-info {
		width: 100%;
		padding: 0 0 44px;

		@include media('>=desktop') {
			display: block;
			width: 25.4%;
			max-width: 316px;
			order: 5;
			padding: 41px 15px 0 0;
		}

		@include media('>=widescreen') {
			margin: 0 0 0 -14px;
		}

		.scroll-box {
			display: flex;
			min-width: 0;
			flex-wrap: wrap;

			@include media('<desktop') {
				min-width: 0;
				flex-wrap: nowrap;
			}
		}
	}

	.chart-box {
		width: 100%;
		@include media('>=desktop') {
			width: 74.6%;
			order: 6;
			padding: 52px 0 0;
			position: relative;
		}

		@include media('>=widescreen') {
			width: calc(100% - 316px);
		}

		.scroll-holder {
			@include media('<desktop') {
				margin-bottom: 20px;
			}
		}
	}

	.scroll-box {
		@include media('<desktop') {
			min-width: 863px;
		}

		img {
			@include media('<desktop') {
				max-width: none;
				width: 100%;
			}
		}
	}

	.open-close-title {
		color: $secondary-text-color;
		display: inline-block;
		vertical-align: top;
		font-weight: normal;
		padding: 0 7px 0 0;
	}
}

.scroll-holder {
	@include media('<desktop') {
		overflow-x: scroll;
		margin-right: -15px
	}

	@include media('<tablet') {
		margin-right: -28px
	}

	.scroll-box {
		padding-right: 28px;
		white-space: nowrap;

		@include media('>=tablet') {
			padding-right: 15px;
		}

		@include media('>=widescreen') {
			padding-right: 0;
		}
	}

	img {
		max-width: none;
	}
}

.chart-info-box {
	border-radius: 18px;
	width: 144px;
	padding: 21px 19px 25px;
	border: 1px solid $lines-light-gray;
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;

	&:last-child {
		.open-close {		
			.slide {
				@include media('<tablet') {
					right: -15px;
					left: auto;
				}
			}
		}
	}

	&.lead {
		background: $bg-light-gray;

		.icon-box {

			@include media('>=desktop') {
				background: $white;
				border-color: $white;				
			}
		}

		i {
			color: $purple;
		}

		.image-holder {
			.default {
				opacity: 0;
			}
			.active-item {
				opacity: 1;
			}
		}
	}

	@include media('>=tablet') {
		width: calc(25% - 10px);
		align-items: center;
	}

	@include media('>=desktop') {
		width: 100%;
		border: none;
		margin: 0 0 11px;
		flex-wrap: nowrap;
		justify-content: flex-start;
		padding: 14px;
	}

	.icon-box {
		@include flex-horizontal-align;
		margin: 0 0 26px;
		width: 100%;

		@include media('>=desktop') {
			justify-content: center;
			border: 1px solid $secondary-light-gray;
			border-radius: 15px;
			height: 65px;
			width: 65px;
			margin: 0 22px 0 0;
		}
	}

	i {
		color: $base-text-color;
		font-size: 25px;

		&.icon-click {
			font-size: 31px;

			@include media('>=desktop') {
				font-size: 30px;
			}
		}

		&.icon-eye2 {
			@include media('>=desktop') {
				font-size: 17px;
			}
		}

		@include media('>=desktop') {
			font-size: 21px;
		}
	}

	.image-holder {
		position: relative;

		@include media('<desktop') {
			min-height: 28px;
			width: 100%;
		}

		img {
			width: 29px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: opacity $animation-speed;

			@include media('<desktop') {
				width: 37px;
				top: 0;
				left: 0;
				transform: translate(0, 0);
			}
		}

		.active-item {
			opacity: 0;
		}
	}

	.open-close {

		.slide {
			min-width: 191px;
			top: calc(100% + 9px);
			left: -22px;
			padding: 24px 15px 6px;
		}
	}

	.has-arrow {
		&:after {
			@include media('>=tablet') {
				font-size: 5px;
				margin: 0 0 0 8px;
			}
		}
	}

	.title {
		font-size: $large-font-size;
		width: 100%;

		@include media('>=desktop') {
			font-size: $medium-font-size;
			flex: 1 0;
		}
	}

	.number {
		display: block;
		font-size: 21px;
		font-weight: 500;
		margin: 9px 0 0;
		@include media('>=desktop') {
			font-size: 22px;
			font-weight: $base-font-weight;
		}
	}
}

.chart-info-box + .chart-info-box {
	margin-left: 12px;

	@include media('>=desktop') {
		margin-left: 0;
	}
}

.statistics-frame {
	padding: 0 0 70px;

	@include media('>=desktop') {
		padding: 0 0 91px;
	}

	.scroll-box {
		display: flex;
		width: 100%;
	}

	h3 {
		margin: 0 0 24px;

		@include media('>=desktop') {
			margin: 0 0 37px;
		}
	}

	.statistics-box {
		width: 259px;
		padding: 29px 25px 22px;
		background: $secondary-bg-light-gray;
		border-radius: 16px;
		flex-shrink: 0;

		@include media('>=desktop') {
			width: 290px;
			padding: 29px 29px 22px 33px;
		}

		.title {
			display: block;
			font-size: 17px;
			font-weight: 500;
			padding: 0 0 6px;

			@include media('>=desktop') {
				font-weight: $base-font-weight
			}
		}

		.top-block {
			@include flex-horizontal-align;
			justify-content: center;
			padding: 36px 0 21px;
			width: 100%;
			border-bottom: 1px solid $secondary-light-gray;

			.text {
				flex: 1 0;
				font-size: $medium-font-size;
				color: $secondary-text-color;

				span {
					display: block;
				}

				.number {
					font-size: 25px;
					color: $base-text-color;
					padding: 5px 0 0;
				}
			}
		}

		.bottom-block {
			padding: 21px 0 0;
			dl {
				@include flex-horizontal-align;
				flex-wrap: wrap;
				font-size: $font-size-base;
				margin: 0;

				@include media('>=desktop') {
					font-size: $medium-font-size;
				}

				dt, dd {
					margin: 0 0 16px;
					width: 50%;

					@include media('>=desktop') {
						margin: 0 0 14px;
					}
				}

				dt {
					font-weight: 500;
				}
				dd {
					text-align: right;
				}
			}

			.tiny-text {
				color: $purple-gray;
				font-size: $secondary-size-base;
			}
		}
	}

	.statistics-box  + .statistics-box  {
		margin-left: 22px;

		@include media('>=desktop') {
			margin-left: 28px;
		}
	}
}

.report-caption {
	@include flex-horizontal-align;
	font-size: $large-font-size;
	padding: 0 40px 26px 0;

	@include media('>=tablet') {
		padding: 0 0 12px;
		font-size: 18px;
	}

	.open-close-title {
		font-weight: 500;
		display: inline-block;
		vertical-align: top;
		padding: 0 5px 0 0;
	}

	.open-close {
		.has-arrow {
			&:after {
				@include media('>=tablet') {
					margin: 0 0 0 11px;
				}
			}
		}
		.slide {
			min-width: 309px;
		}
	}
}

.report-frame {
	padding: 0 0 25px;
	position: relative;

	@include media('>=desktop') {
		padding: 0 0 35px;
	}

	.scroll-holder {
		@include media('<tablet') {
			margin-left: -29px;
		}
	}

	.report-table {
		.simplebox {
			@include media('<tablet') {
				position: absolute;
				top: 0;
				right: 0;
				color: $base-text-color;
			}
		}
	}

}

.icon-info-icon {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	font-style: normal;
	border-radius: 100%;
	width: 17px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	background: $bg-light-gray;
	color: $secondary-text-color;
	margin: 0 0 0 6px;
}

.statistics-circle-frame {
	padding: 0 0 39px;

	@include media('>=tablet') {
		padding: 0 0 79px;
	}

	h3, .h3 {
		margin: 0 0 24px;
	}
}

.caption {
	@include flex-horizontal-align;
	justify-content: space-between;
	padding: 0 0 37px;
	position: relative;

	&.referral-caption {
		padding-bottom: 3px;
		@include media('>=tablet') {
			padding-bottom: 28px;
		}

		h3 {
			margin: 0 10px 0 0;
			font-weight: 500;
		}
		.search-holder {
			.serach-opener,
			.btn-search {
				@include media('<tablet') {
					font-size: 20px;
				}
			}
		}

		.open-close {
			@include media('<tablet') {
				margin: 4px 0 0 18px;
			}
		}
	}

	&.pb-sm {
		padding-bottom: 35px;
		@include media('>=tablet') {
			padding-bottom: 16px;
		}
	}

	&.mobile-two-line {
		padding: 0 0 37px;
		align-items: center;

		@include media('<tablet') {
			display: block;
			padding: 0 0 8px;
		}

		.title-box {
			@include media('<tablet') {
				padding: 0 0 23px;
			}
		}

		.btn-box {
			@include media('<tablet') {
				padding-left: 0;
			}

			.open-close {
				&.output-open-close {
					@include media('>=tablet') {
						margin: 4px 31px 0 0;
					}
				}
			}
		}
	}

	@include media('>=tablet')  {
		padding: 9px 0 36px;
		align-items: flex-start;
	}

	.title-box {
		@include flex-horizontal-align;
		justify-content: space-between;
		flex-wrap: wrap;
		flex: 1 0;

		@include media('>=tablet') {
			justify-content: flex-start;
			flex-wrap: nowrap;
			align-items: center;
		}

		.open-close {
			.opener {
				font-size: 20px;
				font-weight: 500;
				color: $purple;

				@include media('>=tablet') {
					font-size: 21px;
					font-weight: normal;
					color: $base-text-color;
				}
			}
		}
	}

	h2, h3 {
		margin: 0 18px 0 0;
		
		.help-title-link {
			display: block;
			font-size: $font-size-base;
			font-weight: $base-font-weight;
			padding: 7px 0 0;

			@include media('>=tablet') {
				padding: 8px 0 0;
			}
		}
	}

	.btn-box {
		@include flex-horizontal-align;
		padding: 0 0 0 20px;

		&.output-page {
			@include media('<tablet') {
				flex-wrap: wrap;
				flex-direction: column-reverse;
				align-items: flex-start;
			}

			.open-close {
				@include media('<tablet') {
					margin: 0 0 12px;
				}
			}
		}

		@include media('>=tablet') {
			padding: 0 0 0 10px;
		}

		.btn {
			padding: 13px 26px 14px;
			color: $purple;
			border-color: $lines-light-gray;

			&.statistics-btn {
				position: relative;
				padding: 14px 17px 11px;

				@include media('<tablet') {
					min-width: 0;
					border: none;
					padding: 0;
					color: $base-text-color;
				}

				&:before {
					font-family: 'icomoon';
					content: "\e90f";
					font-size: 24px;
					display: inline-block;
					vertical-align: middle;

					@include media('>=tablet') {
						margin: -3px 12px 0 0;
						font-size: 18px;
					}
				}
			}
		}

		.btn-actions-bordered {
			width: 45px;
			height: 45px;
			color: $purple;
		}

		.open-close {
			margin: 0 0 0 8px;

			@include media('>=tablet') {
				margin: 0 0 0 15px;
			}

			.opener {
				&.btn-actions-bordered {
					&:before {
						@include media('<tablet') {
							content: "\e91a";
							font-size: 19px;
						}
					}

					@include media('<tablet') {
						border: none;
						color: $base-text-color;
						height: 20px;
						width: 20px;
						margin: 0 -5px 0 0;
					}
				}
			}
		}
	}

}

.caption-mob-cross {
	padding: 5px 0 25px;

	@include media('>=tablet') {
		@include flex-horizontal-align;
		justify-content: space-between;
		padding: 9px 0 76px;
	}

	.title {
		padding: 0 50px 13px 0;
		position: relative;
		@include media('>=tablet') {
			@include flex-horizontal-align;
		}
	}

	h2 {
		@include media('>=tablet') {
			margin: 0;
		}

		.link-color {
			@include media('<tablet') {
				display: block;
				font-weight: $base-font-weight;
			}
		}

		.help-title-link {
			display: block;
			font-size: $font-size-base;
			font-weight: $base-font-weight;
			margin: 10px 0 0;

			@include media('>=tablet') {
				margin: 10px 0 -10px;
			}
		}
	}

	.btn-back {
		margin: 0 20px 0 0;
		&:before {
			@include media('<tablet') {
				content: "\e91b";
			}
		}
		@include media('<tablet') {
			position: absolute;
			top: -5px;
			right: -13px;
			background: transparent;
			font-size: 17px;
			margin: 0;
		}
	}
}

.sites-amount {
	display: block;
	padding: 0 0 23px;
	font-weight: 500;
	font-size: $medium-font-size;
	color: $secondary-text-color;

	@include media('>=tablet') {
		font-size: $font-size-base;
	}
}

.sites-frame {
	display: flex;
	flex-wrap: wrap;

	@include media('>=tablet') {
		margin: 0 -14px;
	}

	.site-block {
		width: 100%;
		background: $bg-light-gray;
		border-radius: 18px;
		padding: 24px 21px 26px;
		margin: 0 0 30px;

		@include media('>=tablet') {
			width: calc(50% - 28px);
			margin: 0 14px 32px;
			padding: 20px 21px 26px;
		}

		@include media('>=desktop') {
			width: calc(33.33% - 28px);
		}

		.img-box {
			margin: 0 0 26px;
			border-radius: 13px;
			overflow: hidden;
			position: relative;

			@include media('>=tablet') {
				margin: 0 0 30px;
			}

			a {
				display: block;
				text-decoration: none;
			}
			
			img {
				width: 100%;
			}

			.label {
				position: absolute;
				bottom: 12px;
				right: 9px;
				display: block;
				background: $orange;
				color: $white;
				padding: 8px 13px;
				font-weight: 500;
				font-size: $secondary-size-base;
				border-radius: 2em;

				@include media('>=tablet') {
					bottom: auto;
					top: 15px;
					right: 15px;
					padding: 7px 15px;
				}
			}
		}

		.site-caption {
			@include flex-horizontal-align;
			justify-content: space-between;
			padding: 0 0 30px;

			@include media('>=tablet') {
				padding: 0 0 31px;
			}

			h3, .h3 {
				font-size: 17px;
				font-weight: 500;
				margin: 0 0 7px;

				@include media('>=tablet') {
					font-size: 19px;
					margin: 0 0 5px;
				}
			}

			.title {
				span {
					display: inline-block;
					vertical-align: top;
					padding: 0 0 0 6px;
				}
			}

			.site-action-btn {
				@include flex-horizontal-align;
				margin: 0 -4px;
			}
		}
	}

	.add-site-block {
		min-height: 115px;
		font-size: $large-font-size;
		font-weight: 500;
		width: 100%;
		padding: 0 0 8px;

		@include media('>=tablet') {
			border: 4px solid $secondary-bg-light-gray;
			border-radius: 18px;
			font-size: $font-size-base;
			margin: 0 14px 32px;
			width: calc(50% - 28px);
			padding: 30px 10px;
		}

		@include media('>=desktop') {
			width: calc(33.33% - 28px);
			padding: 0;
		}

		a {
			@include flex-central-align;
			flex-flow: column wrap;
			text-decoration: none;
			color: $base-text-color;
			width: 100%;
			height: 100%;
			@include media('>=tablet') {
				transition: background $animation-speed;
			}

			&:hover {
				background: rgba($secondary-bg-light-gray, 0.3);
			}
		}

		.img-box {
			@include flex-central-align;
			margin: 0 0 10px;
			@include media('>=tablet') {
				width: 87px;
				height: 87px;
				background: $bg-light-gray;
				border-radius: 100%;
				margin: 0 0 21px;
			}
		}
	}
}

.domains-holder {
	padding: 0 0 50px;
	@include media('>=tablet') {
		@include flex-horizontal-align;
		padding: 0 0 52px;
	}

	.label {
		font-size: $large-font-size;
		color: $base-text-color;
		padding: 0 0 22px;

		@include media('>=tablet') {
			padding: 0 12px 0 0;
			font-size: $medium-font-size;
			color: $secondary-text-color;
		}
	}

	.add-mirror {
		margin: 0 0 0 3px;
		font-size: $medium-font-size;
		font-weight: 500;
		color: $purple;
		position: relative;
		transition: background $animation-speed;

		&:before{
			font-family: 'icomoon';
			content: "\e910";
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px 0 0;
			font-size: 12px;

			@include media('>=tablet') {
				font-size: 15px;
				margin: 0;
			}
		}

		&:hover {
			@include media('>=tablet') {
				background: rgba($purple, 0.15);
			}
		}

		@include media('>=tablet') {
			@include flex-central-align;
			width: 38px;
			height: 38px;
			border: 1px solid $purple;
			border-radius: 100%;
			margin: 0;
		}
	}
}

.domains-holder + h3,
.domains-holder + .h3 {
	@include media('<tablet') {
		font-weight: 500;
	}
}

.advertising-frame {
	padding: 13px 0 0;

	@include media('>=600px') {
		display: flex;
		flex-wrap: wrap;
		padding: 10px 0 0;
		margin: 0 -14px 0 -13px;
	}

	.adv-block {
		padding: 31px 27px 26px;
		margin: 0 0 23px;
		background: $bg-light-gray;
		border-radius: 18px;

		&.has-checkmark {
			.title {
				strong {
					display: flex;
					justify-content: center;

					@include media('<600px') {
						flex-direction: row-reverse;
						justify-content: flex-end;
					}
				}
			}
		}

		@include media('>=600px') {
			width: calc(50% - 27px);
			padding: 38px 20px;
			margin: 0 13px 23px 14px;
			text-align: center;
			position: relative;
		}

		@include media('>=desktop') {
			width: calc(33.33% - 27px);
		}

		@include media('>=widescreen') {
			padding: 38px 47px;
		}

		p {
			font-size: $font-size-base;
			margin: 0 0 16px;
			line-height: 1.6;
			@include media('>=tablet') {
				font-size: $font-size-base;
				margin: 0 0 17px;
			}
		}

		p + a {
			font-weight: 500;
		}
	}

	.img-box {
		display: inline-block;
		vertical-align: top;
		width: 56px;
		@include media('>=600px') {
			display: block;
			width: auto;
			margin: 0 auto 18px;
		}

		img {		
			@include media('>=600px') {
				width: 72px;
			}
		}
	}

	.title {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 60px);
		padding: 4px 0 25px 19px;

		@include media('>=600px') {
			padding: 0 0 16px;
			display: block;
			width: auto;
		}

		strong {
			display: block;
			font-weight: 500;
			font-size: $large-font-size;
			padding: 0 0 7px;

			@include media('>=600px') {
				font-size: 19px;
			}

			.icon-check {
				@include flex-central-align;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				background: $green;
				color: $white;
				font-size: 7px;
				margin: 0 0 0 10px;

				@include media('>=600px') {
					margin: 3px 10px 0 0;
				} 
			}
		}

		.label {
			background: $white;
			border-radius: 9px;
			color: $secondary-text-color;
			display: inline-block;
			vertical-align: top;
			padding: 7px 7px 8px;
			font-size: $secondary-size-base;

			@include media('>=600px') {
				position: absolute;
				top: 20px;
				right: 19px;
			}
		}
	}

	.btn-block {
		.btn {
			margin: 0 0 12px;

			&:not(.btn-green) {
				color: $base-text-color;
			}

			&:only-child {
				margin-top: 34px;
				margin-bottom: 13px;

				@include media('>=600px') {
					margin-top: 55px;
					margin-bottom: 59px;
				}
			}

			&:first-child:not(:only-child) {
				margin-top: 33px;
				@include media('>=600px') {
					margin-top: 23px;
				}
			}

			&:last-child:not(:only-child) {
				margin-bottom: 14px;
				@include media('>=600px') {
					margin-bottom: 29px;
				}
			}

			&.has-plus {
				&:before {
					@include media('<tablet') {
						display: none;
					}
				}
			}

			@include media('<tablet') {
				width: 100%;
				padding: 15px 10px 16px;
				margin: 0 0 15px;
			}
		}
	}

	.bottom-block {
		display: flex;
		justify-content: space-between;
		padding: 13px 27px 0;
		margin: 0 -27px;
		border-top: 1px solid $secondary-light-gray;

		@include media('>=600px') {
			padding: 17px 20px 0 20px;
			margin: 0 -20px;
		}

		@include media('>=widescreen') {
			padding: 17px 30px 0 40px;
			margin: 0 -47px;
		}

		.switch-frame {
			padding-right: 10px;
		}

		.btn-del {
			background: transparent;
			@include media('>=600px') {
				width: 32px;
				height: 32px;
				background: $secondary-light-gray;
			}

			@include media('<600px') {
				font-size: 20px;
				margin: 0 -10px 0 0;
			}
		}
	}
}

.switch-row {
	padding: 0 0 21px;

	@include media('>=tablet') {
		padding: 0 0 5px;
	}

	.switch-frame {
		.fake-switch-label {
			color: $base-text-color;
		}
	}
}

.player-placement {
	border: 1px solid $secondary-light-gray;
	border-radius: 14px;
	padding: 24px 10px 36px;
	margin: 0 0 29px;

	@include media('>=375px') {
		padding: 24px 29px 36px;
	}

	@include media('>=tablet') {
		padding: 30px 30px 36px;
	}

	h3, .h3 {
		font-weight: $base-font-weight;
		margin: 0 0 24px;

		@include media('<tablet') {
			font-size: 15px;
		}
	}

	h3 + .help-text,
	.h3 + .help-text {
		margin: -23px 0 21px;
	}

	.select-placement + .help-text {
		color: $base-text-color;
		display: block;
		text-align: center;
		padding: 0 20px 58px;
		font-size: $font-size-base;
	}
}

.select-placement {
	width: 263px;
	padding: 28px 19px 4px;
	margin: 0 0 39px;
	background: url(../images/bg-pleer.png) no-repeat 50% 0;
	background-size: contain;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@include media('>=tablet') {
		padding: 38px 27px 6px;
		margin: 0 0 20px;
		width: 334px;
	}

	label {
		padding: 16px 0;
		width: 50%;

		&:nth-child(2n) {
			text-align: right;
		}

		@include media('>=tablet') {
			padding: 20px 0;
		}
	}

	.fake-input,
	input[type="radio"] + .fake-input {
		margin: 0;
		width: 57px;
		height: 42px;
		background: $white;
		border: solid $secondary-light-gray;
		border-width: 3px;
		border-radius: 7px !important;
		position: relative;
		cursor: pointer;
		transition: background $animation-speed, border-color $animation-speed;

		@include media('<tablet') {
			width: 57px;
			height: 42px;
		}
		
		@include media('>=tablet') {
			width: 74px;
			height: 54px;
		}
	}

	input[type="radio"] + .fake-input:before {
		content:"\e902";
		font-family: 'icomoon';
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		font-size: 6px;
		color: $white;
		opacity: 0;
		width: auto;
		height: auto;
		border-radius: 0;
		right: auto;
		bottom: auto;

		@include media('>=tablet') {
			font-size: 17px;
		}
	}

	input[type="radio"]:checked + .fake-input {
		background: $purple;
		border-color: $purple;
		border-radius: 7px;
	}

	input[type="radio"]:checked + .fake-input:before {
		opacity: 1;
	}
}

.two-column-row {
	@include flex-horizontal-align;
	margin: 0 -7px;

	@include media('>=tablet') {
		margin: 0 -14px;
	}

	.col {
		width: 50%;
		padding: 0 7px;

		@include media('>=tablet') {
			padding: 0 14px;
		}
	}
}

.info-form-row {
	padding: 0 0 57px;

	strong {
		display: block;
		padding: 0 0 19px;
	}

	p {
		font-size: $font-size-base;
	}
}

.input-group-help {
	@include flex-horizontal-align;

	input {
		width: 131px;
		font-weight: 500;
		padding: 5px 10px;
	}

	input + a {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 16px;
	}
}

.code-bordered-box {
	border: 2px solid $light-red;
	border-radius: 8px;
	padding: 16px 24px 15px;
	font-size: 17px;
	line-height: 1.55;
	margin: 0 0 15px;

	&.has-copy-link {
		display: flex;
		justify-content: space-between;

		.copy-link {
			@include media('>=tablet') {
				margin: 0 0 0 15px;
			}
		}
	}

	@include media('>=tablet') {
		padding: 17px 21px;
		font-weight: 500;
		font-size: $medium-font-size;
	}

	.code {
		&.small-font {
			font-size: $large-font-size;
			font-weight: $base-font-weight;

			@include media('>=tablet') {
				font-weight: 500;
				font-size: $medium-font-size;
			}
		}
	}

	pre {
		margin: 0;
	}
}

.code-bg-box {
	background: $secondary-bg-light-gray;
	border-radius: 17px;
	padding: 28px 0 8px 35px;
	line-height: 1.4;

	pre {
		margin: 0;
	}
}

.actions-links {
	display: flex;
	justify-content: space-between;

	.has-arrow {
		&:after {
			font-size: 4px;
			margin: 0 -2px 0 3px;
			transform: rotate(-90deg);

			@include media('<tablet') {
				display: none;
			}
		}

		@include media('<tablet') {
			text-align: right;
			width: 40%;
			line-height: 1.45;
		}
	}
}

.add-adv-code {
	padding: 1px 0 0;
	max-width: 487px;

	@include media('>=tablet') {
		padding: 12px 0 0;
	}

	p {
		font-size: $font-size-base;

		@include media('>=tablet') {
			width: 80%;
			font-size: $medium-font-size;
			margin: 0 0 48px;
		}
	}

	.code-bordered-box {
		@include media('>=tablet') {
			padding-right: 17px;
		}
	}
}

.caption-search {
	position: relative;
	max-width: 504px;
	width: 100%;
	@include media('>=tablet') {
		margin: 0 0 0 10px;
		width: 49%;
	}

	.btn-search {
		position: absolute;
		top: 54%;
		transform: translateY(-50%);
		left: 16px;
		font-size: 15px;

		@include media('>=tablet') {
			font-size: 20px;
			left: 20px;
		}
	}

	input[type='search'] {
		@include placeholder {
			font-size: $font-size-base;
			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}
		}

		height: 45px;
		padding: 6px 7px 5px 49px;
		border-radius: 7px;

		@include media('>=tablet') {
			border-radius: 31px;
			height: 52px;
			padding: 8px 7px 5px 56px;
		}
	}
}

.video-bar {
	@include flex-horizontal-align;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 0 18px;

	@include media('>=tablet') {
		flex-wrap: nowrap;
		padding: 0 0 28px;
		position: relative;
	}

	.checkbox {
		@include media('>=tablet', '<1180px') {
			position: absolute;
			bottom: 2px;
			left: 0;
		}
	}

	.title-amount {
		color: $secondary-text-color;
		font-size: $medium-font-size;
		font-weight: 500;
		display: block;
	}

	.filter-holder {
		@include media('>=tablet') {
			@include flex-horizontal-align;
			justify-content: flex-end;
			flex: 1 0;
		}
	}

	.open-close {
		&.sorting {
			padding: 19px 0 0;

			@include media('>=tablet') {
				padding: 0 0 0 15px;
			}

			@include media('>=desktop') {
				padding: 0 0 0 26px
			}

			.opener {
				@include media('>=tablet') {
					@include flex-horizontal-align;
					flex-direction: row-reverse;
					font-size: $font-size-base;
				}

				.sorting-icon {
					@include media('>=tablet') {
						padding: 0 1px 0 7px;
					}
				}
			}
		}
	}
}

.video-list + .show-more {
	@include media('<tablet') {
		margin: 0 0 25px;
	}
}

.search-holder {
	@include flex-horizontal-align;
	position: relative;
	width: auto;

	&.active {

		.serach-slide {
			background: $bg-light-gray;
		}

		.serach-opener {
			opacity: 0;
		}
	}

	.serach-opener {
		margin: 0 0 0 15px;
		outline: none;
		display: inline-block;
		vertical-align: top;
		background: transparent;
		padding: 0;
		border: none;
		position: relative;
		font-size: 23px;
		transition: color $animation-speed, opacity 0.5s;

		&:before{
			content: "\e915";
			font-family: 'icomoon';
			display: inline-block;
			vertical-align: middle;
		}

		&:hover {
			color: $purple;
		}

		@include media('>=tablet') {
			font-size: 22px;
		}
	}

	.serach-slide {
		width: 270px;
		border-radius: 2em;
		position: absolute;
		height: 100%;
		right: 0;
		top: -12px;
		z-index: 1;
		height: 52px;

		@include media('>=phone') {
			width: 366px;
		}

		@include media('>=tablet') {
			left: 0;
			right: auto;
		}

		@include media('<phone') {
			width: 270px;
		}
	}

	.btn-search {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 15px;

		@include media('>=tablet') {
			font-size: 22px;
		}
	}

	input[type="search"] {
		height: 52px;
		padding: 5px 40px 5px 53px;

		@include placeholder {
			@include media('>=tablet') {
				font-size: 13px;
			}
		}
	}

	.close-slide {
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 23px;
		font-size: 11px;
		color: $secondary-text-color;
		transition: color $animation-speed;

		&:before{
			content: "\e92a";
			font-family: 'icomoon';
		}

		&:hover {
			color: $base-text-color;
		}
	}
}

.two-column-reverse {
	@include media('>=tablet') {
		display: flex;
		align-items: flex-start;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.col {

		&:first-child {
			padding: 0 0 40px;
			@include media('>=tablet') {
				padding: 0;
			}
		}

		@include media('>=tablet') {
			width: 48.9%;
		}
	}

	.pleayer-frame {
		text-align: center;

		@include media('>=tablet') {
			padding: 6px 0 0;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
		}

		.pleayer {
			width: 100%;

			@include media('>=tablet') {
				margin: 0 0 20px;
			}
		}

		.preview-link {
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 16px;
			color: $secondary-text-color;

			@include media('>=tablet') {
				margin: 0;
				font-size: $secondary-size-base;
			}
		}
	}

	.setup-row {
		padding: 0 0 9px;
		margin: 0 0 33px;
		border-bottom: 1px solid $secondary-light-gray;

		&:last-of-type {
			border-bottom: none;
			margin: 0;
			padding: 0;
		}

		@include media('>=tablet') {
			max-width: 405px;
			padding: 4px 0 15px;
			margin: 0 0 37px;
		}
	}

	.switch-frame {
		padding: 0 0 10px;

		@include media('>=tablet') {
			padding: 0 0 10px;
		}

		.fake-switch-label {
			font-weight: $base-font-weight;
			font-size: $medium-font-size;
			color: $base-text-color;
			line-height: 1.4;

			@include media('>=tablet') {
				font-size: $medium-font-size;
			}
		}

		input[type="checkbox"]:checked ~ .fake-switch-label {
			font-weight: 500;
		}
	}
}

.program-info {
	padding: 24px 0 64px;

	@include media('>=desktop') {
		display: flex;
		padding: 4px 0 79px;
	}

	.link-col {
		padding: 0 0 43px;

		@include media('>=desktop') {
			flex: 1 0;
			background: $secondary-bg-light-gray;
			border-radius: 19px;
			padding: 37px 39px;
		}
	}

	.info-col {
		background: $secondary-bg-light-gray;
		border-radius: 19px;
		min-width: 316px;
		padding: 17px 16px;
		position: relative;

		@include media('>=desktop') {
			width: 32%;
			max-width: 396px;
			padding: 18px 22px;
			margin: 0 0 0 28px;
		}

		.hover-open-close {
			position: absolute;
			top: 15px;
			right: 16px;

			@include media('>=desktop') {
				top: 14px;
			}

			.icon-info-icon {
				background: $secondary-light-gray;
				color: rgba($secondary-text-color, 0.65);
				width: 20px;
				height: 20px;
				line-height: 20px;
				cursor: pointer;
				font-size: 12px;
			}

			.slide {
				font-size: $secondary-size-base;

				@include media('<tablet') {
					font-size: $medium-font-size;
					background: $white;
				}

				@include media('>=tablet') {
					background: $secondary-text-color;
					border-radius: 14px;
					padding: 19px 30px;
					color: $white;
					top: calc(100% + 18px);
					right: -20px;
					left: auto;
					width: 268px;
				}
			}

			p {
				@include media('>=tablet') {
					font-size: $secondary-size-base;
					line-height: 1.5;
					margin: 0 0 21px;
				}
			}
		}

		.top {
			@include flex-horizontal-align;
			padding: 0 30px 18px 0;

			@include media('>=tablet') {
				padding: 0 30px 13px 0;
			}
		}

		.number {
			@include flex-central-align;
			flex-shrink: 0;
			width: 58px;
			height: 58px;
			padding: 5px 5px 5px 11px;
			background: $white;
			border-radius: 13px;
			font-size: 27px;
			font-weight: 500;
			letter-spacing: 0.03em;

			@include media('>=tablet') {
				width: 73px;
				height: 73px;
				font-size: 33px;
				padding: 5px;
			}

			sub {
				font-size: 50%;
			}
		}

		.note {
			font-weight: 500;
			font-size: $medium-font-size;
			display: block;
			padding: 0 0 0 19px;

			@include media('>=tablet') {
				padding: 0 0 0 22px;
			}
		}

		.next-level {
			display: block;
			padding: 0 0 15px;
			font-size: $medium-font-size;

			strong {
				font-size: 18px;
			}
		}

		.progress-bar {
			position: relative;
			width: 100%;
			height: 6px;
			background: $secondary-light-gray;
			border-radius: 2em;
			margin: 0 0 7px;

			.progress {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				background: #42d49f;
				border-radius: 2em;
			}
		}

		.progress-bar-label {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}

			.turnover {
				strong {
					font-size: $medium-font-size;
					@include media('>=tablet') {
						font-size: $font-size-base;
					}
				}
			}

			.to-next-level {
				font-weight: 500;
				color: $secondary-text-color;
				margin: 0 0 0 10px
			}
		}
	}

	.link-title {
		display: block;
		font-size: $medium-font-size;
		font-weight: 500;
		padding: 0 0 28px;

		@include media('>=tablet') {
			padding: 0 0 31px;
		}
	}

	.copy-link-box {
		.code,
		input[type='text'],
		input[type='number'],
		input[type='tel'],
		input[type='email'],
		input[type='search'],
		input[type='url'],
		input[type='password'],
		textarea {
			font-size: 19px;
			background: transparent;
			border: none;
			padding: 0;
			height: auto;

			@include media('>=tablet') {
				font-size: 21px;
			}
		}

		.copy-link {
			&:before {
				margin: 0 6px 0 0;

				@include media('>=tablet') {
					font-size: 25px;
					margin: 0 11px 0 0;
				}
			}
		}
	}
}

.copy-link-box,
.code-bordered-box {
	@include media('>=tablet') {
		display: flex;
		align-items: flex-start;
	}

	.code-frame {
		margin: 0 0 23px;
		@include media('>=tablet') {
			width: 77%;
			margin: 0 15px 0 0;
		}
	}

	.code,
	input[type='text'],
	input[type='number'],
	input[type='tel'],
	input[type='email'],
	input[type='search'],
	input[type='url'],
	input[type='password'],
	textarea {
		resize: none;
		display: block;
		font-size: 19px;
		resize: none;
		width: 100%;
		word-break: break-all;

		@include media('>=desktop') {
			font-size: 21px;
		}
	}

	.help-text {
		display: block;
		color: $secondary-text-color;
		padding: 17px 0 0;
		line-height: 1.4;
		@include media('>=tablet') {
			line-height: 1.2;
		}
	}

	.copy-link {
		@include media('>=tablet') {
			font-size: $medium-font-size;
		}
	}
}

.partner-program-info {
	display: flex;
	flex-direction: column-reverse;
	padding: 9px 0 15px;

	@include media('>=tablet') {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 0 50px;
	}

	.partner-info {
		padding: 14px 0 0;

		@include media('>=tablet') {
			width: 45%;
			padding: 25px 0 0;
		}
	}

	.link-col {
		border-bottom: 1px solid $secondary-light-gray;
		padding: 0 0 48px;

		@include media('>=tablet') {
			border-bottom: none;
			width: 52%;
			margin: -2px 0 0;
		}

		.has-arrow {
			&:after {
				transform: rotate(-90deg);
				font-size: 4px;
			}
		}
	}

	.link-caption {
		@include media('>=tablet') {
			@include flex-horizontal-align;
			justify-content: space-between;
			padding: 0 0 18px 2px;
		}

		.link-title {
			display: block;
			font-size: $medium-font-size;
			font-weight: 500;
			padding: 0 0 14px;
			@include media('>=tablet') {
				padding: 0 15px 0 0;
			}
		}
	}

	.code-bordered-box {
		position: relative;
		margin: 0 0 59px;

		@include media('>=tablet') {
			margin: 0;
			padding: 17px 11px 14px 23px;
		}

		.code-frame {
			margin: 0;

			@include media('>=tablet') {
				width: 80%;
			}
		}

		.copy-link {
			position: absolute;
			bottom: -42px;
			left: -3px;

			@include media('>=tablet') {
				position: static;
				font-size: $font-size-base;
			}
		}

		.code {
			font-size: 17px;
			@include media('>=tablet') {
				font-size: 17px;
			}
		}
	}

	.chart-view {
		text-align: center;

		@include media('>=tablet') {
			text-align: left;
		}

		@include media('>=widescreen') {
			margin: 0 -50px;
		}

		li {
			border: none;
			@include media('>=tablet') {
				display: flex;
				align-items: flex-start;
			}

			@include media('>=widescreen') {
				margin: 0 50px;
			}
		}

		.icon {
			background: transparent;
			width: auto;
			height: auto;
			display: inline-block;
			vertical-align: top;
			font-size: 27px;
			margin: 0 0 23px;

			@include media('>=tablet') {
				border: none;
				width: auto;
				height: auto;
				font-size: 24px;
				margin: 0 21px 0 0;
			}
		}

		.number {
			padding: 0 0 4px;
			font-size: 19px;
			font-weight: 500;

			@include media('>=tablet')  {
				font-size: 22px;
				font-weight: $base-font-weight;
			}
		}
	}
}

.chart-options {
	padding: 0 0 40px;

	@include media('>=desktop') {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		padding: 0 0 31px;
	}

	.open-close {
		font-size: $medium-font-size;

		@include media('>=tablet') {
			font-size: $font-size-base;
		}

		.opener {
			font-weight: 500;

			&.has-arrow {
				&:after {
					font-size: 5px;
					margin: 4px 0 0 5px;

					@include media('<tablet') {
						margin: 0 0 -1px 3px;
					}
				}
			}
		}
	}

	.reporting-period {
		font-size: $font-size-base;
		padding: 40px 0 0;

		@include media('>=tablet') {
			padding: 4px 20px 0 0;
		}

		@include media('>=1100px') {
			padding: 4px 35px 0 0;
		}

		.opener {
			white-space: nowrap;
		}
	}

	.opner-subtitle {
		color: $secondary-text-color;
		display: inline-block;
		vertical-align: top;
		padding: 0 7px 0 0;
	}

	.period-frame {
		@include media('>=tablet') {
			@include flex-horizontal-align;
			flex-direction: row-reverse;
			justify-content: flex-end;
			padding: 30px 0 0;
		}

		@include media('>=desktop') {
			justify-content: flex-start;
			padding: 0 4px 9px 0;
		}
	}
}

.partner-chart {
	padding: 0 0 73px;

	@include media('>=tablet') {
		padding: 0 0 96px;
	}
}

.partner-report-caption {
	padding: 0 0 14px;

	@include media('>=tablet') {
		@include flex-horizontal-align;
		justify-content: space-between;
		padding: 0 0 32px;
	}

	h3, .h3 {
		font-weight: 500;
		margin: 0 0 27px;

		@include media('>=tablet') {
			margin: 0;
		}
	}

	.open-close {
		font-size: $medium-font-size;
			@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}
}

.partner-report-frame {
	.open-close {
		&.sorting {
			.sorting-icon {
				padding: 0 9px 5px 0;
			}
		}
	}
}

.token-block {
	background: $secondary-bg-light-gray;
	border-radius: 14px;
	padding: 31px 22px 28px;
	margin: 0 0 38px;
	text-align: center;
	width: 100%;
	min-width: 316px;

	@include media('>=tablet') {
		max-width: 395px;
		margin: -5px 0 0 20px;
		padding: 48px 22px 40px;
	}

	label, .label {
		color: $secondary-text-color;
		display: block;
		padding: 0 0 13px;
	}

	.token-code,
	input[type='text'],
	input[type='number'],
	input[type='tel'],
	input[type='email'],
	input[type='url'],
	input[type='password'],
	textarea {
		background: none;
		border: none;
		text-align: center;
		font-weight: 500;
		font-size: $medium-font-size;
		margin: 0 0 32px;
		height: auto;
		padding: 0;

		@include media('>=desktop') {
			font-size: 17px;
			margin: 0 0 47px;
		}
	}

	.copy-link {

		&:before {
			@include media('<tablet') {
				content: "\e908";
			}
		}
	}
}

.paymetn-frame {
	margin: 15px 0 0;

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		margin: 41px -14px 0;
	}
}

.add-payment-box {
	font-weight: 500;
	text-align: center;
	margin: 0 0 28px;
	padding-top: 38px;
	color: $base-text-color;

	@include media('>=tablet') {
		font-size: $secondary-size-base;
		width: calc(50% - 28px);
		border: 6px solid $lines-light-gray;
		border-radius: 18px;
		margin: 0 14px 28px;
		padding: 18px 31px 25px;
	}

	@include media('>=desktop') {
		max-width: 290px;
		width: calc(25% - 28px);
	}

	a {
		@include flex-central-align;
		color: inherit;
		flex-flow: column nowrap;
		width: 100%;
		height: 100%;
		transition: background $animation-speed;

		&:hover {
			@include media('>=tablet') {
				background: rgba($lines-light-gray, 0.2);
			}
		}
	}

	img {
		display: block;
		margin: 0 auto 22px;

		@include media('>=tablet') {
			width: 47px;
		}
	}

	span {
		width: 100%;
		display: block;
	}
}

.payment-box {
	display: flex;
	background: $bg-light-gray;
	border-radius: 18px;
	padding: 19px 45px 21px 17px;
	margin: 0 0 17px;
	width: 100%;
	position: relative;

	&.selected {
		.payment-title {

			&:after {
				font-family: 'icomoon';
				content: "\e939";
				font-size: 9px;
				color: $light-red;
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 7px;
			}
		}
	}

	@include media('>=tablet') {
		display: block;
		width: calc(50% - 28px);
		margin: 0 14px 28px;
		padding: 19px 33px 25px;
	}

	@include media('>=desktop') {
		max-width: 290px;
		width: calc(25% - 28px);
	}

	.img-box {
		width: 45px;
		height: 46px;
		margin: -3px 19px 0 0;

		@include media('>=tablet') {
			margin: 0 0 17px -6px;
		}

		img {
			max-width: 100%;
		}
	}
}

.payment-info {
	.payment-title {
		display: block;
		font-weight: 700;
		font-size: $medium-font-size;
		padding: 0 0 9px;
	}

	.additional-info {
		font-size: $medium-font-size;
		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}
}

.payment-actions {
	position: absolute;
	top: calc(50% - 10px);
    right: 13px;

	@include media('>=tablet') {
		top: 35px;
		right: 29px;
	}

	.open-close {
		.opener {
			@include flex-central-align;
			font-size: 18px;
			width: 20px;
			height: 20px;
			color: $secondary-text-color;

			&:before {
				@include media('<tablet') {
					content: "\e91a";
				}
			}

			&:hover {
				color: $base-text-color;
			}

			@include media('>=tablet') {
				width: 15px;
				height: 12px;
				font-size: 3px;
			}
		}

		.slide {
			right: -33px;
			left: auto;

			&:before {
				right: 28px;
				left: auto;
			}
		}
	}
}

.total-block {
	background: $bg-light-gray;
	border-radius: 16px;
	margin: 63px 0 0;

	@include media('>=tablet') {
		margin: 28px 0 0;
	}

	.top {
		border-bottom: 1px solid $lines-light-gray;
		padding: 32px 25px 12px;

		@include media('>=tablet') {
			padding: 30px 46px 12px 33px;
		}

		dt {
			font-size: $medium-font-size;
			@include media('>=tablet') {
				font-size: $font-size-base;
			}
		}

		dd {
			font-weight: 500;
			@include media('>=tablet') {
				font-weight: $base-font-weight;
			}
		}
	}

	.bottom {
		padding: 21px 25px 17px;

		@include media('>=tablet') {
			padding: 23px 46px 28px 33px;
		}

		dl {
			font-weight: 500;
			padding: 0 0 11px;

			@include media('>=tablet') {
				padding: 0 0 28px;
			}
		}

		dt {
			font-weight: 500;
			font-size: $medium-font-size;
		}

		dd {
			font-size: 19px;
		}
	}

	dl {
		margin: 0;

		div{
			@include flex-horizontal-align;
			justify-content: space-between;
			margin: 0 0 13px;
		}
	}
	dt,dd {
		margin: 0;
		width: 50%;
	}

	dd {
		text-align: right;
		padding: 0 0 0 15px;
		font-size: 15px;
	}

	.btn {
		width: 100%;
		margin: 0 0 10px;
		font-size: $large-font-size;

		@include media('>=tablet') {
			padding: 17px 26px 18px;
		}
	}

	.btn-cancellation {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}

.payment-radio-row {
	padding: 0 0 36px;

	@include media('>=tablet') {
		padding: 0 0 44px;
	}

	.payment-radio-title {
		color: $secondary-text-color;
		font-size: $medium-font-size;
		font-weight: 500;
		display: block;
		padding: 0 0 18px;

		@include media('>=tablet') {
			font-size: $font-size-base;
			padding: 0 0 16px;
		}
	}
}

.profile-frame {
	padding: 0 0 24px;

	@include media('>=desktop') {
		padding: 0 0 9px;
		display: flex;
		align-items: flex-start;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	h3 {
		margin: 0 0 19px;
		font-size: 18px;

		@include media('>=desktop') {
			margin: 0 0 41px;
		}
	}
}

.profile-button-frame {
	.btn {
		@include media('<tablet') {
			width: 100%;
		}
	}
}

.profile-info {
	padding: 54px 0 0;

	@include media('>=desktop') {
		width: 49%;
		padding: 30px 0 0;
	}

	@include media('>=widescreen') {
		width: 58.8%;
	}

	.definition-list {
		dt, dd {
			@include media('>=tablet') {
				margin: 0 0 29px;
			}
		}

		dt {
			@include media('>=tablet') {
				max-width: 202px;
			}
		}

		input[type='text'],
		input[type='number'],
		input[type='tel'],
		input[type='email'],
		input[type='search'],
		input[type='password'] {
			font-size: 15px;

			@include media('>=tablet') {
				height: 37px;
				padding: 5px 12px;
				font-size: $secondary-size-base;
			}
		}

		.address-check-label {
			font-size: $font-size-base;
			font-weight: $base-font-weight;
			display: block;
			padding: 13px 0 0;
			@include media('>=tablet') {
				font-size: $secondary-size-base;
			}

			.fake-input {
				margin-right: 6px;

				@include media('>=tablet') {
					width: 17px;
					height: 17px;
					margin-right: 2px;
				}
			}

			input[type="checkbox"]:checked ~ .fake-label {
				font-weight: $base-font-weight;
			}
		}
	}
}

.profile-card {
	background: $bg-light-gray;
	border-radius: 16px;
	padding: 25px 26px 12px;

	&.unverified-email {
		border-radius: 16px 16px 0 0;
		padding-bottom: 0;

		.bottom {
			padding-bottom: 30px;
		}
	}

	@include media('>=desktop') {
		border: none;
		max-width: 396px;
		width: 49%;
		padding: 40px 37px 20px;
	}

	@include media('>=widescreen') {
		width: 32%;
	}

	.profile-img {
		width: 68px;
		height: 68px;
		border-radius: 100%;
		overflow: hidden;
		margin: 0 auto 16px;

		@include media('>=tablet') {
			width: 70px;
			height: 70px;
			margin: 0 auto 26px;
		}

		img {
			width: 100%;
		}
	}

	.profile-title {
		display: block;
		text-align: center;
		padding: 0 0 13px;

		@include media('>=desktop') {
			padding: 0;
		}

		.btn-edit {
			background: transparent;

			@include media('<tablet') {
				color: $base-text-color;
			}
		}
	}

	.name {
		@include flex-central-align;
		font-weight: 500;
		font-size: 16px;
		padding: 0 0 7px 25px;

		@include media('>=tablet') {
			font-size: 18px;
		}

		.btn-edit {
			width: auto;
			height: auto;
			padding: 0;
			font-size: $font-size-base;
			margin: 0 0 0 12px;
		}

		.bottom {
			font-size: 13px;
			padding: 14px 2px 0;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: -25px;
				right: -25px;
				height: 1px;
				background: $lines-light-gray;
			}

			a {
				color: $base-text-color;
			}
		}
	}

	.profile-id {
		color: $secondary-text-color;
		display: block;

		@include media('>=tablet') {
			padding: 0 0 13px;
			font-size: 12px;
		}
	}

	.profile-status {
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		padding: 7px 10px;
		border-radius: 2em;
		font-size: 11px;
		font-weight: 500;
		position: relative;
		background: $bg-light-gray;
		margin: 0 0 48px;
		letter-spacing: 0.9px;
		left: 50%;
		transform: translateX(-50%);
		background: $white;
		padding: 9px 10px;

		&:before {
			font-family: 'icomoon';
			content: "\e939";
			font-size: 10px;
			color: $light-red;
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px 1px 0;
		}

		@include media('>=tablet') {
			margin: 0 0 43px;
		}
	}

	.definition-list {

		dt {
			font-weight: normal;
			margin: 0 0 5px;
			font-size: $font-size-base;
			color: $secondary-text-color;

			&.large-cell {
				display: inline-block;
				vertical-align: top;
				width: 70%;
				padding-top: 12px;

				@include media('>=tablet') {
					width: 60%;
					padding: 0;
					max-width: none;
				}

				.switch-frame {
					@include media('>=tablet') {
						margin: 0 -12px 0 0;
					}
				}
			}

			@include media('>=desktop') {
				font-weight: normal;
				margin: 15px 0;
			}
		}

		dt.large-cell + dd {
			display: inline-block;
			vertical-align: top;
			width: 30%;
			text-align: right;
			margin-right: -4px;
			padding-top: 10px;
			@include media('>=tablet') {
				width: 40%;
				margin-right: 0;
				padding-top: 0;
			}
		}

		dd {
			@include flex-horizontal-align;
			justify-content: space-between;
			font-size: $medium-font-size;
			margin: 0 0 25px;

			@include media('>=desktop') {
				justify-content: flex-end;
				margin: 15px 0;
			}
		}

		dd + .profile-confirm-email {
			@include media('<tablet') {
				margin: -14px auto 23px;
			}
		}

		.icon-info-icon {
			background: $secondary-light-gray;
			margin: 0 0 0 2px;
		}

		.email, .tel {
			color: $base-text-color;
		}

		.btn-edit {
			background: none;
			width: auto;
			height: auto;
			padding: 0;
			margin: 0 0 0 27px;
			font-size: 15px;

			@include media('<tablet') {
				margin: -9px 0 0 10px;
				color: $base-text-color;
			}
		}

		.switch-frame {
			flex-direction: row;
			justify-content: flex-end;
			margin: 0 10px 0 0;

			@include media('>=desktop') {
				margin: 0;
			}

			.clickable-switch {
				@include media('>=tablet') {
					flex-direction: row-reverse;
				}
			}

			.switch {
				margin: 0;
			}

			input[type="checkbox"]:checked ~ .fake-switch-label {
				color: $base-text-color;
			}
		}

		.fake-switch-label {
			padding: 0 3px 0 0;

			@include media('<tablet') {
				display: none;
			}
		}

		.hidden-password {
			display: inline-block;
			vertical-align: top;
			letter-spacing: 6.4px;
			font-size: 43px;
			line-height: 1;
			margin: -24px 0 0 -2px;

			@include media('>=desktop') {
				margin: -23px -2px 0 0;
				letter-spacing: 3.6px;
				font-size: 31px;
			}
		}
	}

	.top {
		border-bottom: 1px solid #EAEFF8;
		padding: 0 0 4px;

		@include media('>=tablet') {
			padding: 0 0 18px;
		}

		.definition-list {
			dd {
				padding-right: 38px;
				position: relative;

				.btn-edit {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}

	.bottom {
		padding: 34px 0 0;

		@include media('>=tablet') {
			padding: 19px 0 0;
		}

		.definition-list {
			display: flex;
			flex-wrap: wrap;

			dt, dd {
				@include media('<tablet') {
					margin-bottom: 19px;
				}
			}

			dt:not(.large-cell) {
				width: 30%;
			}

			dt {
				&.large-cell {
					@include media('<tablet') {
						font-size: 15px;
						color: $base-text-color;
						font-weight: 500;
					}
				}
			}

			dd {
				width: 70%;
				justify-content: flex-end;
				padding-right: 0;
			}
		}
	}

	.unverified-email-block {
		padding: 20px 26px;
		border-radius: 0 0 16px 16px;
		margin: 0 -26px;
		background: $light-red;
		color: $white;

		@include media('>=desktop') {
			margin: 0 -37px;
			padding: 26px 36px;
		}

		.title {
			font-weight: 700;
			font-size: 17px;
			display: block;
			padding: 0 0 10px;
		}

		p {
			font-size: $font-size-base;
			line-height: 1.6;
			margin: 0 0 27px;
		}

		.list-inline {
			font-weight: 500;

			li {
				&:before {
					content: '';
					height: 17px;
					width: 1px;
					background: $white;
					vertical-align: top;
					margin: 0 19px 0 6px;
					display: none;

					@include media('>=tablet') {
						margin: 0 19px 0 6px;
					}
				}
			}

			li + li {
				&:before {
					display: inline-block;
				}
			}

			a {
				color: inherit;
			}
		}
	}
}

.profile-row {
	padding: 0 0 39px;
	@include media('>=tablet') {
		padding: 0 0 36px;
	}
}

.profile-confirm-email {
	width: 100%;
	margin: 0 auto 23px;
	padding: 21px 18px 14px;
	border: 2px solid $light-red;
	border-radius: 10px;
	@include media('>=desktop') {
		max-width: 319px;
		font-size: $secondary-size-base;
		border-radius: 5px;
		padding: 17px 18px 8px;
	}

	.title {
		display: block;
		font-size: 15px;
		font-weight: 700;
		padding: 0 0 6px;

		@include media('>=tablet') {
			font-size: $secondary-size-base;
			padding: 0 0 10px;
		}
	}

	.link {
		display: inline-block;
		vertical-align: top;
		margin: 0 13px 5px 0;
		font-size: $font-size-base;
		@include media('>=tablet') {
			font-size: $font-size-base;
		}
	}
}

.edit-profile-page {

	.caption {
		@include media('<tablet') {
			position: relative;
			padding: 0 30px 44px 0;
		}

		.btn-close {
			position: absolute;
			top: 11px;
			right: -3px;
			width: 20px;
			height: 20px;
			color: $base-text-color;
			font-size: 17px;

			&:before {
				@include flex-central-align;
				font-family: 'icomoon';
				content: "\e91b";
			}

			@include media('>=tablet') {
				display: none;
			}
		}
	}

	.profile-card {
		@include media('<tablet') {
			display: none;
		}
	}

	.profile-frame {
		padding: 0;

		@include media('>=tablet') {
			padding: 0 0 11px;
		}
	}
	
	.profile-info {
		padding: 0;

		@include media('>=tablet') {
			padding: 29px 0 0
		}

		h3 {
			margin: 0 0 26px;

			@include media('>=tablet') {
				margin: 0 0 31px;
			}
		}

		.profile-row {
			padding: 0 0 8px;
			margin: 0 0 27px;
			border-bottom: 1px solid $secondary-light-gray;

			&:last-of-type {
				border-bottom: none;
			}

			&.has-checkbox {
				@include media('>=tablet') {
					padding: 0 0 15px;
				}
			}

			@include media('>=tablet') {
				border: none;
				margin: 0;
				padding: 0 0 46px;
			}
		}

		.definition-list {
			@include media('>=tablet') {
				align-items: flex-start;
			}

			dt {
				margin: 0 0 12px;
				font-size: $medium-font-size;
				@include media('>=tablet') {
					padding-top: 10px;
					margin: 0 0 10px;
					font-size: $font-size-base;
				}
			}
			dd {
				margin: 0 0 22px;
				@include media('>=tablet') {
					margin: 0 0 10px;
				}
			}
		}
	}

	.profile-button-frame {
		.btn {
			&.has-checkmark {
				&:before {
					@include media('<tablet') {
						display: none;
					}
				}
			}
		}

		.btn + .btn {
			@include media('>=tablet') {
				margin: 0 0 0 15px;
			}
		}
	}
}
