#header {
	display: flex;
	justify-content: space-between;
	padding: 23px 24px 10px;
	border-bottom: 1px solid $lines-light-gray;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $white;
	z-index: 2;

	// .nav-active & {
	// 	padding-top: 13px;
	// }

	@include media('>=desktop') {
		padding: 15px 40px 0;
		border: none;
		background: $bg-light-gray;
		position: relative;
		z-index: 2;
	}

	.logo {
		position: relative;
		z-index: 2;
		@include media('>=tablet') {
			margin: 0 0 0 -4px;
		}

		a {
			display: block;
		}

		img {
			@include media('>=tablet') {
				width: 55px;
				height: 53px;
			}
		}
	}

	.amount-block {
		background: #f6f7fd;
		border-radius: $lg-border-radius;
		padding: 25px 25px 22px;
		margin: 0 0 41px;

		@include media('>=desktop') {
			background: none;
			border-radius: 0;
			padding: 0;
			margin: 0;
		}
	}

	.open-close {

		&.user-frame,
		&.amount {
			.slide {
				@include media('<desktop') {
					position: static !important;
					box-shadow: none;
					min-width: 0;
					border: none;
					border-radius: 0;
					padding: 0;
					opacity: 1;
					visibility: visible;
					background: none;
				}
			}

			.list {
				@include media('>=desktop') {
					font-size: $medium-font-size;
				}

				li {
					padding: 0 0 18px;

					a {
						position: relative;
						display: block;

						&:after {
							font-family: 'icomoon';
							content: "\e918";
							font-size: 5px;
							position: absolute;
							right: -3px;
							top: 50%;
							transform: translateY(-50%) rotate(-90deg);
						}
					}
				}
			}
		}

		&.amount {
			position: relative;

			@include media('>=desktop') {
				padding: 0 0 0 15px;
			}

			.opener {
				font-size: 22px;
				font-weight: 500;
				display: block;
				padding: 0 65px 0 0;
				margin: 0 0 28px;

				@include media('>=desktop') {
					@include flex-horizontal-align;
					padding: 0;
					margin: 0;
					font-size: 15px;
				}

				i {
					color: $purple;
					font-size: 19px;
					padding: 0 7px 0 0;
					@include media('>=desktop') {
						font-size: 16px;
						padding: 0 9px 0 0;
					}
				}

				.currency {
					font-size: 15px;

					@include media('>=desktop') {
						padding: 0 0 0 4px;
					}
				}
			}
			.slide {
				@include media('>=desktop') {
					min-width: 217px;
					padding: 20px 26px 6px;
				}
			}

			.list {

				li {
					&:first-child {
						color: $purple;
						font-weight: 500;
						padding: 0;
						@include media('>=desktop') {
							padding: 0 0 20px;
						}

						a {
							position: absolute;
							top: 7px;
							right: -1px;

							&:after {
								display: none;
							}

							@include media('>=desktop') {
								@include flex-horizontal-align;
								position: static;
								font-size: $font-size-base;
								border: 1px solid $lines-light-gray;
								border-radius: 2em;
								padding: 10px 12px;
								margin: 0 -12px;
							}

							i {
								margin: 0 15px 0 0;
								font-size: 18px;
								@include media('<desktop') {
									display: none;
								}
							}

							.visible-tablet {
								@include media('>=desktop') {
									padding: 0 0 0 3px;
								}
							}
						}
					}

					a {
						&:after {
							@include media('>=desktop') {
								display: none;
							}
						}
					}
				}
			}
		}

		&.user-frame {

			@include media('>=desktop') {
				padding: 0 0 0 15px;
			}

			@include media('>=widescreen') {
				padding: 0 0 0 44px;
			}

			.opener {
				@include media('>=desktop') {
					@include flex-horizontal-align;
				}
				
				i {
					@include media('>=desktop') {
						@include flex-central-align;
						width: 33px;
						height: 33px;
						background: $white;
						border-radius: 9px;
						margin: 0 13px 0 0;
						color: $purple;
						font-size: 16px;
					}
				}
			}
			.user-name {
				@include media('>=desktop') {
					font-size: 13px;
					font-weight: 500;
				}
			}

			.slide {
				@include media('>=desktop') {
					left: auto;
					right: 0;
					min-width: 298px;
					padding: 16px 18px 20px;
				}
				.list {
					padding: 0 0 32px;

					@include media('>=desktop') {
						padding: 18px 7px 6px 11px;
					}

					li {
						@include media('>=desktop') {
							padding: 0 0 11px;
						}
					}

					a {
						&:after {
							right: -6px;
						}
					}
				}

				.member-profile {
					@include flex-horizontal-align;
					font-size: 16px;
					padding: 0 0 24px;

					&:after {
						@include media('>=desktop') {
							content: '';
							position: absolute;
							left: -18px;
							right: -18px;
							bottom: 0;
							height: 1px;
							background: $secondary-light-gray;
						}
					}

					@include media('>=desktop') {
						padding: 0 0 13px;
						position: relative;
					}

					.img-box {
						display: inline-block;
						vertical-align: top;
						width: 47px;
						height: 47px;
						border-radius: 100%;
						overflow: hidden;
						margin: 0 13px 0 0;

						@include media('>=desktop') {
							margin: 0 15px 0 0;
						}
						
						img {
							width: 100%;
							max-width: 100%;
						}
					}

					a {
						color: $base-text-color;
						flex: 1 0;
						font-weight: 500;
						font-size: $large-font-size;
						position: relative;

						&:after {
							font-family: 'icomoon';
							content: "\e918";
							font-size: 5px;
							position: absolute;
							right: -6px;
							top: 45%;
							transform: translateY(-50%) rotate(-90deg);

							@include media('>=desktop') {
								right: 1px;
								top: 43%;
							}
						}

						&:hover {
							color: $purple;
						}

						@include media('>=desktop') {
							font-size: $medium-font-size;
						}
					}

					.email {
						color: $purple;
						font-size: $font-size-base;
						display: block;
						padding: 4px 0 0;
						@include media('>=desktop') {
							font-size: $secondary-size-base;
							padding: 5px 0 0;
						}
					}
				}

				.cancel {
					color: #687897;
					display: block;
					@include media('>=desktop') {
						padding: 0 0 0 11px;
					}
				}
			}
		}
	}
}

#nav {
	@extend %listreset;
	font-size: $large-font-size;

	@include media('>=desktop') {
		display: flex;
		font-weight: 500;
		font-size: $font-size-base;
		padding: 3px 0 0;
	}

	li {
		padding: 0 0 34px;

		&.active {
			a {
				color: $purple;

				@include media('<desktop') {
					font-weight: 500;
				}
				&:before {
					@include media('>=desktop') {
						opacity: 1;
					}
				}
			}

			i {
				color: $purple;
			}

			.program-icon {
				.default-image {
					opacity: 0;
				}
				.hover-image {
					opacity: 1;
				}
			}
		}

		@include media('>=desktop') {
			padding: 0 10px;
		}

		@include media('>=widescreen') {
			padding: 0 31px;
		}
	}

	a {
		@include flex-horizontal-align;
		color: inherit;
		transition: color $animation-speed;
		position: relative;

		&:before {
			@include media('>=desktop') {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 3px;
				width: 100%;
				border-radius: 2em 2em 0 0;
				background: $purple;
				opacity: 0;
				transition: opacity $animation-speed;
			}
		}

		&:hover {
			color: $purple;
			@include media('<desktop') {
				font-weight: 500;
			}
			&:before {
				@include media('>=desktop') {
					opacity: 1;
				}
			}

			i {
				color: $purple;
			}

			.program-icon {
				.default-image {
					opacity: 0;
				}
				.hover-image {
					opacity: 1;
				}
			}
		}

		@include media('>=desktop') {
			padding-bottom: 15px;
			height: 100%;
			min-height: 62px;
		}

		i {
			display: inline-block;
			vertical-align: top;
			margin: 0 24px 0 0;
			min-width: 30px;
			font-size: 22px;

			&.icon-statictics {
				font-size: 21px;
				@include media('>=desktop') {
					font-size: 18px;
				}
			}

			&.icon-player {
				font-size: 25px;
				@include media('>=desktop') {
					font-size: 24px;
				}
			}

			&.icon-menu-help {

				@include media('<desktop') {
					font-size: 26px;
				}
			}

			@include media('>=desktop') {
				margin: 0 12px 0 0;
				min-width: 0;
				color: $secondary-text-color;
			}
		}

		.program-icon {
			display: inline-block;
			vertical-align: top;
			margin: 0 24px -6px 0;
			position: relative;
			min-width: 30px;

			@include media('>=desktop') {
				margin: 9px 4px 0 0;
				min-width: 30px;
				min-height: 24px;
			}

			img {
				transition: opacity $animation-speed;

				@include media('>=desktop') {
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			.hover-image {
				opacity: 0;
			}
		}
	}
}

.nav-opener {
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 51px;
	height: 51px;
	z-index: 5;
	margin: -10px -4px 0 0;
	&:before,
	&:after {
		content:'';
		position: absolute;
		height: 3px;
		background: #5A4BC9;
		right: 20%;
		border-radius: 2em;
	}

	&:before {
		left: 15%;
		top: 45%;
	}

	&:after {
		left: 46%;
    	top: 62%;
	}

	.nav-active & {
		margin: -6px -13px 0 0;

   		&:before,
		&:after {
			top: 50%;
			height: 2px;
			right: 25%;
			left: 30%;
			background: $dark-purple;
		}

		&:before {
			transform: rotate(45deg);

		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	@include media('>=desktop') {
		display: none;
	}
}

.main-nav {
	padding: 0 0 2px;
	@include media('>=desktop') {
		@include flex-central-align;
		flex: 1 0;
		padding: 0;
	}
}

.nav-holder {
	z-index: 1;

	.nav-active & {
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	@include media('<desktop') {
		background: $white;
		position: fixed;
		top: 0;
		bottom: 0;
		left: -9999px;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		padding: 104px 32px 20px;
		overflow-y: auto;
	}

	@include media('>=desktop') {
		display: flex;
		justify-content: space-between;
		flex: 1 0;
	}
}

.header-user-wrap {
	@include media('>=desktop') {
		@include flex-horizontal-align;
		padding: 0 0 14px;
	}
}