$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 800px,
	'desktop': 1024px,
	'widescreen': 1400px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'base/icons';

@import 'components/btn';
@import 'components/list';
@import 'components/table';
@import 'components/pagination';
@import 'components/custom_form';
@import 'components/dropdown';
@import 'components/modal';
@import 'components/notification';
@import 'components/datepicker';
@import 'components/_pie_circle';

@import 'layout/header';
@import 'layout/common';
@import 'layout/action_window';

html {
	&.nav-active,
	&.opened-slide,
	&.opened-filter-slide,
	&.opened-slide,
	&.open-modal {
		@include media('<desktop') {
			overflow-y: hidden;
		}
	}
}

body {
	&.open-modal {
		@include media('<desktop') {
			overflow-y: hidden;
		}
	}

	&.active-modal {
		.simplebox-overlay {
			@include media('>=tablet') {
				display: block !important;
			}
		}

		.modal {
			top: 76px;
			left: 0;
			right: 0;
			height: calc(100% - 76px);
			margin: 0;

			@include media('>=tablet') {
				height: auto;
				top: 50%;
				left: 50%;
				z-index: 1000;
				transform: translate(-50%, -50%);
			}
		}
	}

	@include media('<desktop') {
		background: $white;
	}
}

.resize-active * {
	-webkit-transition:none !important;
	-ms-transition:none !important;
	transition:none !important;
}

#wrapper {
	overflow: hidden;
	width: 100%;
	position: relative;
}

.container {
	padding: 0 28px;
}

.hidden-tablet {
	@include media('>=tablet') {
		display: none !important;
	}
}

.hidden-desktop {
	@include media('>=desktop') {
		display: none !important;
	}
}

.visible-tablet {
	@include media('<tablet') {
		display: none !important;
	}
}

.visible-desktop {
	@include media('<desktop') {
		display: none !important;
	}
}

.visible-widescreen {
	@include media('<widescreen') {
		display: none !important;
	}
}

.xs-width-block {
	@include media('>=tablet') {
		max-width: 396px;
	}
}

.sm-width-block {
	@include media('>=tablet') {
		max-width: 502px;
	}
}

.msm-width-block {
	@include media('>=tablet') {
		max-width: 534px;
	}
}

.md-width-block {

	&.form-row {
		@include media('>=tablet') {
			max-width: 608px;
		}
	}
	
	@include media('>=tablet') {
		max-width: 637px;
	}
}

.lg-width-block {
	@include media('>=tablet') {
		max-width: 750px;
	}
}

.secondary-color {
	color: $secondary-text-color;
}

.link-color {
	@include media('>=tablet') {
		color: $base-link-color;
	}
}

.lg-line-height {
	line-height: 1.8;
	@include media('>=tablet') {
		line-height: 1.95;
	}
}

strong {
	font-weight: 500;
}

.simplebox-overlay {
	@include media('<tablet') {
		background: $white !important;
		opacity: 0.1 !important;
	}
}

#main {
	padding: 97px 29px 37px;

	@include media('>=desktop') {
		min-height: calc(100vh - 130px);
		padding: 35px 15px;
		margin: 0 20px 50px;
		background: $white;
		border-radius: 15px;
	}

	@include media('>=widescreen') {
		padding: 41px 57px 40px;
		margin: 0 40px 50px;
	}
}